.class_AddLabel1 {
    width:96%;
    margin-left: 2%;
    height:80px;
    line-height:80px;
    vertical-align:middle;
    text-align:center;
    color:black;
    font-size:30px;
    font-weight:bold;
    margin-top:10px;
    border-radius: 5px;
     border: 1px solid black;
     cursor: pointer;
     box-shadow:  5px  5px grey;
     transition: 0.5s;
     background: rgb(200,200,200);
}

.class_AddLabel1:hover {
  box-shadow: inset 0 0 0 2em rgb(180,180,180);
}

.class_AddLabel2 {
  width:96%;
  margin-left: 2%;
  height:60px;
  line-height:60px;
  vertical-align:middle;
  text-align:center;
  color:black;
  font-size:25px;
  margin-top:5px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  box-shadow:  5px 5px grey;
  transition: 0.5s;
  background: rgb(220,220,220);
}

.class_AddLabel2:hover {
     box-shadow: inset 0 0 0 2em rgb(180,180,180);
}

.class_AddLabel3 {
  width:96%;
  margin-left: 2%;
  margin-top:5px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow:  5px 5px grey;
  transition: 0.5s;
  background: rgb(250,250,250);
}

.class_ColormapRow {
  display: flex;
  width:100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.class_colormapAddPage{
  width:70%;
  height:30px;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 3px;
  border: 2px solid black;
}

.class_buttonAddPage{
  width:30px;
  height:30px;
  margin-right: 2%;
  border-radius: 3px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
  border: 2px solid black;
  line-height:30px;
  font-size:20px;
  font-weight:bold;
  text-align:center;
  vertical-align:middle;
}
