.classAnalyseLabel{
  margin-left: 1vw;
  height: 3vh;
  line-height:3vh;
  font-size:2.5vh;
  vertical-align:middle;
  text-align: left;
  width: auto;
  margin-top:auto;
  margin-bottom:auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.classAnalyseLabel:hover {
    overflow: visible;
}


.globalSpeedCanvas{
    image-rendering: optimizeSpeed;             /* Older versions of FF*/
    image-rendering: -moz-crisp-edges;          /* FF 6.0+*/
    image-rendering: -webkit-optimize-contrast; /* Webkit (non standard naming)*/
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+)*/
    image-rendering: pixelated;               /* Possible future browsers.*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non standard naming)*/


    /*background: black;*/
}

.classAnalyzePlotLabel{
  width:100%;
  text-align:left;
  height:4vh;
  line-height:4vh;
  font-size:2vh;
  margin:0px;
  vertical-align:middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.classAnalyzePlotLabel:hover {
    overflow: visible;
}
