
button:focus {outline:0;}

.class_generalbutton{
  font-family: var(--font-family);
    box-sizing: content-box;
    background: none;
    font-weight:bold;
    /*background-color: var(--main-button-bg);/*rgb(19, 111, 153);*/
    border: 0.1vw solid var(--main-button-bg);
    /*box-shadow: 0 0 1vh rgba(19, 111, 153, 0.5);*/
    color:var(--main-font-color);
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    height: var(--button-height);
    line-height: var(--button-height);
    font-size: var(--button-font-size);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: var(--button-border-radius);
    text-align:center;
    overflow: auto;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}


.class_welcomePageButton{
  border:none;
  font-weight: bold;
  font-size: 4vh;
  line-height: 5vh;
  color: var(--main-font-color);
  cursor:pointer;
  margin:auto;
}


.class_welcomePageButton:hover{
  color: var(--general-active-color);
}





.class_generalbutton:hover{
  transform: scale(0.95);
  /*background-color: var(--main-button-bg-hover);/*rgb( 	8, 48, 66);*/
  border: 0.1vw solid var(--main-button-bg-hover);
  color: var(--main-button-bg-hover);
  /*box-shadow: 0 0 1vh rgba(8, 48, 66, 0.5);*/
}


.class_generalbuttonActive{
  font-family: var(--font-family);
    background: none;
    box-sizing: content-box;
    font-weight:bold;
    /*background-color: var(--main-activebutton-bg); /*rgb(0,191,255); rgb(15, 107, 149);*/
    border: 0.1vw solid var(--main-activebutton-bg);
    /*box-shadow: 0 0 1vh rgba(228,62,0, 0.5);*/
    color: var(--main-activebutton-bg);
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    height: var(--button-height);
    line-height: var(--button-height);
    font-size: var(--button-font-size);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: var(--button-border-radius);
    text-align:center;
    overflow: auto;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}



.class_generalbuttonActive:hover{
  transform: scale(0.9);
  /*background-color: var(--main-activebutton-bg-hover); /*30,144,255*/
  border: 0.1vw solid var(--main-activebutton-bg-hover);
  color: var(--main-activebutton-bg-hover);
  /*box-shadow: 0 0 1vh rgba(255,69,0, 0.5); /*30,144,255*/
}

.class_generalbutton_DarkBackground{
    background: none;
    font-weight:bold;
    font-family: var(--font-family);
    background-color: var(--main-Button-sepArea-bg-color);

    border: 0.1vw solid var(--main-Button-sepArea-font-color);
    color: var(--main-Button-sepArea-font-color);

    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    height: var(--button-height);
    line-height: var(--button-height);
    font-size: var(--button-font-size);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: var(--button-border-radius);
    text-align:center;
    overflow: auto;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}



.class_generalbutton_DarkBackground:hover{
  transform: scale(0.95);
  background-color: var(--main-Button-sepArea-bg-color-hover);
  border: 0.1vw solid var(--main-Button-sepArea-font-hover);
  color: var(--main-Button-sepArea-font-hover);
}


.class_generalbutton_DarkBackgroundActive{
    font-family: var(--font-family);
      background: none;
      box-sizing: content-box;
      font-weight:bold;
      /*background-color: var(--main-activebutton-bg); /*rgb(0,191,255); rgb(15, 107, 149);*/
      border: 0.1vw solid var(--main-activebutton-bg);
      /*box-shadow: 0 0 1vh rgba(228,62,0, 0.5);*/
      color: var(--main-activebutton-bg);
      transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
      height: var(--button-height);
      line-height: var(--button-height);
      font-size: var(--button-font-size);
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: var(--button-border-radius);
      text-align:center;
      overflow: auto;
      font-weight: bold;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
}



.class_generalbutton_DarkBackgroundActive:hover{
  transform: scale(0.95);
  /border: 0.1vw solid var(--main-activebutton-bg-hover);
  color: var(--main-activebutton-bg-hover);
}







.class_Test_ShowTestButton{
  width:auto;
  cursor:pointer;
  vertical-align: middle;
  text-align:center;
  height: 4vh;
  line-height: 4vh;

  font-size: 2.5vh;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  box-sizing: border-box;

  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

  color: var(--main-Button-sepArea-font-color);
  /*text-shadow: 0 0 1vh rgba(175,255,255, 0.5);*/
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;


}

.class_Test_ShowTestButton:hover{
  transform: scale(0.9);
  color: var(--main-Button-sepArea-font-hover);
  /*text-shadow: 0 0 1vh rgba(10, 239, 251, 0.5);*/
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}





.helpButtonDiv {
    position: relative;
    display: inline-block;

}

.helpButton {

    font-family: var(--font-family);
    box-sizing: content-box;
    background: none;
    font-weight:bold;
    /*background-color: var(--main-button-bg);/*rgb(19, 111, 153);*/
    border: 0.1vw solid var(--main-button-bg);
    /*box-shadow: 0 0 1vh rgba(19, 111, 153, 0.5);*/
    color:var(--main-font-color);
    height: var(--button-height);
    width:  var(--button-height);
    line-height: var(--button-height);
    font-size: var(--button-font-size);
    border-radius: var(--button-border-radius);
    vertical-align:middle;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    /*font-family:courier;*/
}


.helpButton_sepArea {

    font-family: var(--font-family);
    box-sizing: content-box;
    background: none;
    font-weight:bold;
    /*background-color: var(--main-button-bg);/*rgb(19, 111, 153);*/
    border: 0.1vw solid var(--main-sepArea-font-color);
    /*box-shadow: 0 0 1vh rgba(19, 111, 153, 0.5);*/
    color: var(--main-sepArea-font-color);
    height: var(--button-height);
    width:  var(--button-height);
    line-height: var(--button-height);
    font-size: var(--button-font-size);
    border-radius: var(--button-border-radius);
    vertical-align:middle;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    /*font-family:courier;*/
}


.helpButtonDiv-content {
    display:none;
    position: absolute;
    padding:0.5vh;
    font-family: var(--font-family);
    font-size: var(--font-size-normal);
    line-height: var(--line-height-normal);
    color: var(--main-font-color);
    height:auto;
    width: 20vw;
    border: 0.2vh solid var(--main-font-color);
    vertical-align:middle;
    overflow: hidden;
    text-overflow: ellipsis;
    /*font-family:courier;*/
    background: var(--main-bg-color);
    z-index:5

}

.helpButtonDiv:hover .helpButtonDiv-content {
    display: block;
}

.helpButton_sepArea:hover .helpButtonDiv-content {
    display: block;
}


/************************************************
******************* Edit Page ********************
************************************************/



.class_EditPage_closeDiv {
  height:2vh;
  width: 100%;
  background: var(--menue-bg-color);
  margin:0;
  display: flex;
}

.class_EditPage_closeDiv div{
  margin-top: auto;
  margin-bottom: auto;
  margin-left:auto;
  margin-right:0.25vw;
  cursor: pointer;
  height: 1.5vh;
  line-height: 1.5vh;
  font-size: 1.5vh;
  color: var(--main-sepArea-font-color);
  vertical-align: middle;
  text-align: center;
  transition: transform ease-in 0.1s;

}

.class_EditPage_closeDiv div:hover{
  color: var(--general-active-color);
}


.class_EditPage_EditButton{

  height: 3vh;
  line-height: 3vh;
  width: 3vh;
  font-size: 1.2vh;
  vertical-align: middle;
  text-align: center;
  /*background: var(--main-font-color);
  color: var(--main-sepArea-bg);*/

  background: none;
  color: var(--main-sepArea-font-color);
  border: 0.2vh solid var(--main-sepArea-font-color);
  border-radius: 0.5vh;
  overflow: hidden;
  margin:auto;
  transition: transform ease-in 0.1s;
  cursor: pointer;

}

.class_EditPage_EditButton:hover{
  transform: scale(0.9);
  /*background: var();*/

  color: var(--general-active-color);
  border-color: var(--general-active-color);
}
