.classSketchCanvas{
  image-rendering: optimizeSpeed;             /* Older versions of FF*/
  image-rendering: -moz-crisp-edges;          /* FF 6.0+*/
  image-rendering: -webkit-optimize-contrast; /* Webkit (non standard naming)*/
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+)*/
  image-rendering: pixelated;               /* Possible future browsers.*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non standard naming)*/
  margin-top: 0px;
  width:95%;
  height: 50px;
  margin-left:2.5%;
}


.class_tablelabel{
    height:20px;
    line-height:20px;
    font-size:12px;
    font-weight: bold;
    padding-right:5px;
    padding-left:5px;
    background:grey;
    color: white;
    border-right: 1px solid white;
    vertical-align: middle;
    text-align: center;
}

.class_tableInput{
    height:20px;
    line-height:20px;
    font-size:12px;
    color: black;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
}

.class_radioButtonLabel{
        vertical-align: middle;
        text-align: center;
        color:black;
        text-align: left;
        vertical-align: middle;
}

.class_predefinedConstBands{
    height: 20px;
    min-height: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 10px;
    float:left;
    line-height: 30px;
    vertical-align: middle;
    text-align:  center;
    font-size: 12px;
}

.class_predefinedScaledBands{
    height: 20px;
    width: 65%;
    margin-left: 10%;
    margin-right: 5%;
    border-radius: 3px;
    border: 1px solid black;
    float:left;
    line-height: 30px;
    vertical-align: middle;
    text-align:  center;
    font-size: 12px;

}

.class_reversebuttonCreatePage{
  width:10%;
  height:20px;
  margin-right: 10%;
  border-radius: 3px;
  border: 1px solid black;
  line-height: 20px;
  font-size: 12px;
  color:black;
  vertical-align: middle;
  text-align:  center;
}
