



.class_keybuttonEditPage{
  width:40px;
  height:40px;
  min-width:40px;
  min-height:40px;
  line-height:40px;
  vertical-align:middle;
  text-align:center;
  color:black;
  font-size:18px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  color: black;
  border: 1px solid black;
  float:left;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;

}

.class_RadioButtonLabelEditPage{
  margin:0px;
  text-align:left;
  height:20px;
  line-height:20px;
  font-size:12px;
  vertical-align:middle; margin-bottom:0px;
  margin-left: 10px;
  margin-right: 10px;
}


.class_RadioButtonLabelEditPage:hover {
    overflow: visible;
}
