.class_GallerySectionButton{

  width: 100%;/*10%;*/
  margin: auto;
  /*border: 0.2vh solid black;
  background: rgb(120,120,120);
  cursor:pointer;
  -moz-box-shadow:    inset 0 0 0.4vh rgb(0,0,0);
   -webkit-box-shadow: inset 0 0 0.4vh rgb(0,0,0);
   box-shadow:         inset 0 0 0.4vh rgb(0,0,0);*/

}

.class_GallerySectionButton p{
  text-align: center;
  margin-top: 0.25vh;
  margin-bottom:0.25vh;
  font-size: 2vh;
  line-height: 3vh;
  /*font-weight: bold;*/
}

.class_GallerySectionButton canvas{
  width:90%;
  margin-left: 5%;
  border: 0.2vh solid grey;
  box-sizing: border-box;
  margin-bottom:0.5vh;
  height:4vh;
  border-radius: 0.3vh;
}


/* 88vw witdh */



.class_GalleryCMSDIV{
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top:1.5vh;
  margin-bottom:1.5vh;
}


.class_GalleryObjCMSCanvas{
  width: 100%;
  height: 6vh;
  margin:0;
  border: 0.2vh solid var(--menue-bg-color);
  background: var(--main-sepArea-bg);
  display: block;
  /*font-family:courier;*/
}


.class_GalleryObjCMSLabel{
  width: 100%;
  height: 4vh;
  background: var(--main-sepArea-bg);
  border: 0.2vh solid var(--menue-bg-color);
  border-bottom:none;
  margin:0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 4vh;
  font-size: 2vh;
  text-align: left;
  color: var(--main-font-color);
  vertical-align: middle;
  /*font-family:courier;*/
}


.class_GalleryObjButton{
  width: 5%;
  height: 4vh;
  line-height: 4vh;
  font-size: 2vh;
  color: var(--main-font-color);
  text-align:center;
  cursor:pointer;
  margin:0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  vertical-align: middle;
  background: none;
  /*font-family:courier;*/
}

.class_GalleryObjButton:hover{
  font-size: 2.5vh;
  background: var(--general-bg-hover-color);
}
