/************************************************************
                  Text
************************************************************/



 html {
     color: #222;
     font-size: 1em;
     line-height: 1.4;
 }

 html {
   font-family: sans-serif; /* 1 */
   -ms-text-size-adjust: 100%; /* 2 */
   -webkit-text-size-adjust: 100%; /* 2 */
 }

 /**
  * Remove default margin.
  */

 body {
   margin: 0;
 }


 a:link {
     color: var(--link-color);
 }

 /* visited link */
 a:visited {
     color: var(--link-color-visited);
 }

 /* mouse over link */
 a:hover {
     color: var(--link-color-hover);
 }

 /* selected link */
 a:active {
     color: var(--link-color-active);
 }


.class_img_container{
    background-image: url("");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}



 .footer_coopImg{
   height: 10vh;
   width:7.5vw;
   /*height: 8vh;*/
   /*max-width: 10%;*/
   /*max-height:10vh;*/
   cursor: pointer;
   margin-top:auto;
   margin-bottom:auto;
   margin-left:auto;/*2vw;*/
   display: flex;
 }

 .footer_coopImg img{
   max-width:100%;
    height:auto;
   transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
   margin: auto;
 }

 .footer_coopImg:hover img{
   transform: scale(1.1);
 }


 hr{
   color: var(--main-font-color);
 }

 /*.standardText{*/
 p{
   font-family: var(--font-family);
   font-size: var(--font-size-normal);
   line-height: var(--line-height-normal);
   color:var(--main-font-color);
   vertical-align:middle;
   margin:0vw;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: pre-line;
   /*font-family:courier;*/
 }


 /*********************************************************************************
 ************* Scroll bar
 ****************************************************************************/
 /* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-bg);
  box-shadow: inset 0 0 0.25vw var(--scrollbar-track-shadow);
  /*border-radius: 0.5vw;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thump-bg);
  margin-left: 0.25vw;
  width: 0.5vw;
  border-radius: 0.25vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--scrollbar-thump-bg-hover);
}

/**************************************************************************/

 .row{
     width: 100%;
     display: flex;
  }



  .class_tablelabel{
      /*height:1.5vh;*/
      height: var(--line-height-normal);
      max-height: var(--line-height-normal);
      line-height: var(--line-height-normal);
      font-size: var(--font-size-normal);
      font-weight: bold;
      background: var(--main-sepArea-bg);
      color: var(--main-label-font-color);
      vertical-align: middle;
      text-align: center;
      box-sizing: border-box;
  }

  .class_tablelabel p{
      color: var(--main-label-font-color);
      text-align: center;
  }

  .class_tableInput{
      overflow: hidden;
      text-overflow: ellipsis;
      height: var(--line-height-normal);
      max-height: var(--line-height-normal);
      line-height: var(--line-height-normal);
      font-size: var(--font-size-normal);
      color: var(--main-table-font-color);
      background:var(--main-table-bg1-color);
      border: 0.1vh solid var(--main-table-border-color);
      box-sizing: border-box;
      vertical-align: middle;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .class_tableInputDark{
      overflow: hidden;
      text-overflow: ellipsis;
      height: var(--line-height-normal);
      max-height: var(--line-height-normal);
      line-height: var(--line-height-normal);
      font-size: var(--font-size-normal);
      color: var(--main-table-font-color);
      background: var(--main-table-bg2-color);
      border: 0.1vh solid var(--main-table-border-color);
      box-sizing: border-box;
      vertical-align: middle;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .class_OptionDiv{
    background:var(--main-sepArea-bg);
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left:1vw;
    padding-right:1vw;
    border: 0.2vh solid var(--main-sepArea-border);
    /*box-shadow: 0 0.25vh 0.25vh 0 rgba(0, 0, 0, 0.2), 0 0.15vh 0.15vh 0 rgba(0, 0, 0, 0.25);*/
  }

  .class_OptionDiv p{
    color: var(--main-sepArea-font-color);
  }

  .class_OptionDiv label{
    color: var(--main-sepArea-font-color);
  }

  .class_OptionDiv a:link {
      color: var(--main-sepArea-link-color);
  }

  /* visited link */
  .class_OptionDiv a:visited {
      color: var(--main-sepArea-link-color-visited);
  }

  /* mouse over link */
  .class_OptionDiv a:hover {
      color: var(--main-sepArea-link-color-hover);
  }

  /* selected link */
  .class_OptionDiv a:active {
      color: var(--main-sepArea-link-color-active);
  }

.class_InsetLabelText{
  font-weight:bold;
  background-color: #565656;
  color: transparent;
  text-shadow: 0vh 0.3vh 0.1vh rgba(255,255,255,0.2);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.class_WhiteInsetLabelText{
  font-weight:bold;
  background-color: white;
  color: transparent;
  text-shadow: 0vh 0.3vh 0.1vh rgba(60,60,60,0.2);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.class_insetBoxShadow{
  box-shadow: inset 0vh 0vh 0.4vh 0.2vh rgba(0,0,0,0.3);
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}



.sectionLabel{
  width: 100%;
  color:var(--main-label-font-color);
  vertical-align:middle;
  text-align: center;
  line-height: var(--line-height-label);
  font-size: var(--font-size-label);
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
