
textarea{
  font-family: var(--font-family);
  background: var(--input-bg-color);
  border: none;
  color: var(--input-font-color);
  display:block;
  width:auto;
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
}

textarea::placeholder{
  color: var(--input-placeholder-font-color);
}

input{
 font-family: var(--font-family);
 background: var(--input-bg-color);
 border: none;
 color: var(--input-font-color);
 display:block;
 width:auto;
 font-size: var(--font-size-normal);
 line-height: var(--line-height-normal);
 height: var(--line-height-normal);
}

input::placeholder{
  color: var(--input-placeholder-font-color);
}

input::-ms-input-placeholder{
  color: var(--input-placeholder-font-color);
}

input::-ms-input-placeholder {
  color: var(--input-placeholder-font-color);
}


input:focus {
  outline: none;
}

input:disabled{
  color: var(--input-disabled-font-color);
  background: var(--input-disabled-bg-color);
  cursor: not-allowed;
}


/************************************
*********** Radio Buttons *********
**********************************/

input[type='radio']{
 width: 1.5vh;
 height: 1.5vh;
 margin:auto;
 border-radius: 1.5vh;
 /*background-color: #d1d3d1;*/
 /*border: 0.1 solid grey;*/
}

.class_radio_container {
  display: block;
  color: var(--main-font-color);
  position: relative;
  padding-left: 3vh;
  font-family: var(--font-family);
  margin-top: 0.25vh;
  margin-bottom: 0.25vh;
  cursor: pointer;
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

.class_radio_container p{
  font-family: var(--font-family);
  color: var(--main-font-color);
  margin-top: auto;
  margin-bottom: auto;
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
}

/* Hide the browser's default radio button */
.class_radio_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.class_radio_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--line-height-normal);
  width: var(--line-height-normal);
  background-color: var(--radio-bg-color);
  border-radius: 50%;
}

.class_radio_container input:disabled ~ .class_radio_checkmark {
  background-color: var(--radio-disabled-bg-color);
}

/* On mouse-over, add a grey background color */
.class_radio_container:hover input ~ .class_radio_checkmark {
  background-color: var(--radio-bg-color-hover);
}

.class_radio_container:hover input:disabled ~ .class_radio_checkmark {
  background-color: var(--radio-disabled-bg-color-hover);
}

/* When the radio button is checked, add a blue background */
.class_radio_container input:checked ~ .class_radio_checkmark {
  background-color: var(--general-active-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.class_radio_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.class_radio_container input:checked ~ .class_radio_checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.class_radio_container .class_radio_checkmark:after {
 	top: 0.5vh;
	left: 0.5vh;
	width: 1vh;
	height: 1vh;
	border-radius: 50%;
	background: var(--main-bg-color);
}

/************************************
*********** Checkbox Buttons *********
**********************************/

.class_checkbox_container {
  display: block;
  color: var(--main-font-color);
  position: relative;
  padding-left: 3vh;
  font-family: var(--font-family);
  margin-top: 0.25vh;
  margin-bottom: 0.25vh;
  cursor: pointer;
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

.class_checkbox_container p{
  font-family: var(--font-family);
  color: var(--main-font-color);
  margin-top: auto;
  margin-bottom: auto;
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
}

/* Hide the browser's default checkbox */
.class_checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.class_checkbox_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--line-height-normal);
  width: var(--line-height-normal);
  background-color: var(--radio-bg-color);
  border-radius: 20%;
}

.class_checkbox_container input:disabled ~ .class_checkbox_checkmark {
  background-color: var(--radio-disabled-bg-color);
}

/* On mouse-over, add a grey background color */
.class_checkbox_container:hover input ~ .class_checkbox_checkmark {
  background-color: var(--radio-bg-color-hover);
}

.class_checkbox_container:hover input:disabled ~ .class_checkbox_checkmark {
  background-color: var(--radio-disabled-bg-color-hover);
}

/* When the radio button is checked, add a blue background */
.class_checkbox_container input:checked ~ .class_checkbox_checkmark {
  background-color: var(--general-active-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.class_checkbox_container input:checked ~ .class_checkbox_checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.class_checkbox_container .class_checkbox_checkmark:after {
  top: 0.25vh;
  left: 0.25vh;
	width: 1vh;
  height: 1vh;
	/*border-radius: 20%;*/
	background: var(--main-bg-color);
  border-style: solid;
  border-color: white;/*var(--main-bg-color);*/
  border-width: 0 0.3vh 0.3vh 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*****************************
*********** Range Slider   *********
*****************************/

input[type='range'] {
  width: 20vw;
  overflow: hidden;
  -webkit-appearance: none;
  background-color: var(--range-bg-color);
}

/*Chrome*/

input[type='range']::-webkit-slider-thumb {
    width: 2vh;
    -webkit-appearance: none;
    height: 2vh;
    cursor: ew-resize;
    background: var(--range-slider-thumb-color);
    margin-top: -0.5vh;
    border-radius: 0.5vh;
    border: 0.1vh solid var(--range-slider-thumb-border-color);
    box-sizing: border-box;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 1vh;
  -webkit-appearance: none;
  background-color: var(--range-track-color);
  /*margin-top: -1vh;*/
}


/** FF*/

input[type=range]::-moz-range-thumb {
  width: 2vh;
  -webkit-appearance: none;
  height: 2vh;
  cursor: ew-resize;
  background: var(--range-slider-thumb-color);
  margin-top: -0.5vh;
  border-radius: 0.5vh;
  border: 0.1vh solid var(--range-slider-thumb-border-color);
  box-sizing: border-box;
}

input[type=range]::-moz-range-thumb:hover {
  background: var(--range-slider-thumb-color-hover);
}

input[type="range"]::-moz-range-progress {
  background-color: var(--range-lower-color);
}
input[type="range"]::-moz-range-track {
  background-color: var(--range-upper-color);
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: var(--range-lower-color);
}
input[type="range"]::-ms-fill-upper {
  background-color: var(--range-upper-color);
}

/*****************************
*********** Selector   *********
*****************************/

select{
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  background: var(--input-bg-color);
  color: var(--input-font-color);
  border-width: : 0.2vh;
  border-style: solid;
  border-color: var(--input-font-color);
  min-width: 10vw;
  max-width: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

select option{
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  background: var(--input-bg-color);
  color: var(--input-font-color);
}

select option:hover {
  background: var(--general-hover-color);
  outline:0;
}

select option:focus {
  outline:0; /* */
  background: var(--general-active-color);
}

select option::selection {
  outline:0; /* */
  background: var(--general-active-color);
}

select option:disabled{
  color: var(--input-disabled-font-color);
  background: var(--input-disabled-bg-color);
  cursor: not-allowed;
}


select optgroup{
  color: var(--input-font-color);
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  font-weight: bold;
  text-decoration: underline;
  line-height: var(--line-height-normal);
  background: none;
}

select optgroup option{
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  background: var(--input-bg-color);
  color: var(--input-font-color);
}

select optgroup option:hover {
  background: var(--general-hover-color);
  outline:0;
}

select optgroup option:focus {
  outline:0; /* */
  background: var(--general-active-color);
}

select optgroup option::selection {
  outline:0; /* */
  background: var(--general-active-color);
}

select optgroup option:disabled{
  color: var(--input-disabled-font-color);
  background: var(--input-disabled-bg-color);
  cursor: not-allowed;
}
