.class_tablelabel{
    height:3vh; 
    line-height:3vh; 
    font-size:1.2vh;
    font-weight: bold; 
    padding-right:0.2cm;
    padding-left:0.2cm;
    background:grey;
    color: white;
    border-right: 1px solid white;
    vertical-align: middle;
    text-align: center;
}

.class_tableInput{
    height:3vh; 
    line-height:3vh; 
    font-size:1.2vh;
    color: black;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
}

.class_radioButtonLabel{
        vertical-align: middle;
        text-align: center;
        color:black;
        text-align: left;
        vertical-align: middle;
}

.class_predefinedConstBands{
    height: 3vh;
    width: 2.5%;
    border-radius: 0.5vh; 
    border: 2px solid black; 
    margin:1vh;
    float:left;
    line-height: 3vh;
    vertical-align: middle;
    text-align:  center;
    font-size: 2vh;
}

.class_predefinedScaledBands{
    height: 3vh;
    width: 12.5%;
    border-radius: 0.5vh; 
    border: 2px solid black; 
    margin: 1vh;
    float:left;
    line-height: 3vh;
    vertical-align: middle;
    text-align:  center;
    font-size: 2vh;

}

     