
.constText{
  vertical-align:middle;
  margin:0px;
}

.standardText{
  font-size: 12px;
  line-height: 16px;
  color:black;
  height:auto;
  vertical-align:middle;
  margin:0px;
}

.matrixText{
  font-size: 36px;
  line-height: 48px;
  color:black;
  height:auto;
  vertical-align:middle;
  margin:0px;
  font-weight: lighter;
  margin-top:auto;
  margin-bottom:auto;
}


.sectionLabel{
  font-size: 28px;
  line-height: 32px;
  color:black;
  height:auto;
  vertical-align:middle;
  text-align:center;
  width:100%;
  text-decoration: underline;
  margin:0px;
}

.subsectionLabel{
  font-size: 18px;
  line-height: 16px;
  color:black;
  height:auto;
  vertical-align:middle;
  text-align:center;
  width:100%;
  margin:0px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 14px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 5px;
  margin-top:2px;
  margin-bottom:2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





.rangeslider {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    background: rgb(225,225,225);
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.rangeslider:hover {
    opacity: 1;
}

.rangeslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: rgb(0,191,255);
    cursor: pointer;
}

.rangeslider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: rgb(0,191,255);
    cursor: pointer;
}


.dropbtn {
    background:rgb(255,255,255);
    color: black;
    height:50px;
    line-height:50px;
    vertical-align:middle;
    text-align:center;
    border: none;
    cursor: pointer;
    width:10vw;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: background:rgb(240,240,240);
    z-index: 1;
}

.dropdown-content button {
    color: white;
    font-weight: bold;
    background:rgb(0,191,255);
    width:10vw;
    height:50px;
    line-height:50px;
    vertical-align:middle;
    text-align:center;
    display: block;
    transition: 0.25s;
}

.dropdown-content button:hover {
  box-shadow: inset 0 0 0 2em rgb(240,240,240);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(240,240,240);
}


div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 49;
}

.helpDiv{
  background: rgb(255,250,205);
  border: 1px solid black;
  display: none;
  padding: 5px;
  line-height:25px;
  font-size: 25px;
  vertical-align:middle;
  text-align:left;
  position: absolute;
  z-index: 105;
}


.class_RadioButtonLabelPopUpWindow{
  margin:0px;
  text-align:left;
  height:2vh;
  line-height:2vh;
  font-size:1.6vh;
  vertical-align:middle; margin-bottom:0px;
  margin-left: 1vh;
  margin-right: 1vh;
}


.class_RadioButtonLabelPopUpWindow:hover {
    overflow: visible;
}


.class_keybuttonBandCreatorPage{
  width:4vh;
  height:4vh;;
  min-width:4vh;;
  min-height:4vh;;
  line-height:4vh;;
  vertical-align:middle;
  text-align:center;
  color:black;
  font-size:2vh;
  margin-right: 0.5vh;
  margin-bottom: 0.5vh;
  border-radius: 0.5vh;
  color: black;
  border: 0.2vh solid black;
  float:left;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
