.class_tablelabel{
    font-size:12px; 
    font-weight: bold; 
    padding-right:0.2cm;
    padding-left:0.2cm;
    background:black;
    color: white;
    border-right: 1px solid white;
    height:20px;
    line-height:20px;
    vertical-align: middle;
    text-align: center;
}
