.class_tablelabel{
    font-size:12px; 
    font-weight: bold; 
    padding-right:0.2cm;
    padding-left:0.2cm;
    background:grey;
    color: white;
    border-right: 1px solid white;
    height:20px;
    line-height:20px;
    vertical-align: middle;
    text-align: center;
}

.class_tableInput{
    font-size:12px; 
    color: black;
    border: 1px solid black;
    height:20px;
    line-height:20px;
    vertical-align: middle;
    text-align: center;
}

.class_radioButtonLabel{
        vertical-align: middle;
        text-align: center;
        color:black;
        text-align: left;
        vertical-align: middle;
}

.class_predefinedConstBands{
    height: 0.75cm;
    width: 1.5cm;
    border-radius: 0.2cm; 
    border: 2px solid black; 
    margin:0.25cm;
    float:left;
}

.class_predefinedScaledBands{
    height: 0.75cm;
    width: 3cm;
    border-radius: 0.2cm; 
    border: 2px solid black; 
    margin:0.25cm;
    float:left;
}
