

.navi_div{
  margin-top: 0.25vh;
  margin-bottom: 0.25vh;
  width:10vw;
  border: 0.2vh solid black;
  display:flex;
}

.navi_div p{
  margin:auto;
  height:4vh;
  line-height:4vh;
  vertical-align: middle;
  text-align: center;
  font-size: 2vh;
}

.navi_divPos{
  border-color: var(--menue-navi-positive-color); /*rgb(0,250,154);*/
  cursor: pointer;
  /*transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;*/

}

.navi_divPos p{
  color: var(--menue-navi-positive-color); /*rgb(0,250,154);*/
  height:4vh;
  line-height:4vh;
  vertical-align: middle;
  text-align: center;
  font-size: 2vh;
}

.navi_divPos:hover{
  transform: scale(0.9);
  /*box-shadow: 0 0 1vh rgb(10, 239, 251);*/
}

/*.navi_divPos:hover .navi_Label{
  transform: rotate(360deg);
}*/


.navi_divCurrent{
  border-color: var(--menue-font-color);
  transition: transform ease-in 0.1s;
  cursor: default;
}


.navi_Label{
  transition: transform ease-in 0.1s;
}
.navi_div:hover .navi_Label{
  transform: rotate(360deg);
}

.navi_divCurrent p{
  color:var(--menue-font-color);
  height:4vh;
  line-height:4vh;
  vertical-align: middle;
  text-align: center;
  font-size: 2vh;
}

.navi_divNeg{
  border-color: var(--menue-navi-negative-color); /*rgb(242,92,102);*/
  cursor: not-allowed;
}

.navi_divNeg p{
  color: var(--menue-navi-negative-color); /*rgb(242,92,102);*/
  height:4vh;
  line-height:4vh;
  vertical-align: middle;
  text-align: center;
  font-size: 2vh;
}

.navi_canvas{
  margin-top: 0.25vh;
  margin-bottom: 0.25vh;
  height:4vh;
  display:block;
  width:5vw;
  /*background:red;*/
}

.class_Theme_Selector{
  float: left;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-right: 0.5vw;
  /*margin:auto;*/
  margin-left:0vh;
  margin-right:0vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  box-sizing: border-box;
  cursor: pointer;

}

.class_Theme_Selector:hover{
  box-shadow: 0.2vw 0.2vh 1vh var(--menue-bg-color);
}

.class_Theme_Container{
  display: flex;
  background: var(--menue-bg-color);
  height: 3vh;
  border-radius: 1.5vh;
  width: 4vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.25vh;
  padding-bottom: 0.25vh;
}


.menu_button {
  padding-right:1vw;
  padding-left:1vw;
  font-size: 2vh;
  line-height: 5vh;
  height:5vh;
  cursor:pointer;
  color:var(--menue-font-color);
  vertical-align: middle;
  text-align: center;
  background:none;
  overflow: hidden;
  text-overflow: ellipsis;
  /*font-family:verdana;*/
}


.menu_button:hover {
  background: var(--menue-bg-color-hover);
}


.menu_buttonNotActive {
  padding-right:1vw;
  padding-left:1vw;
  font-size: 2vh;
  line-height: 5vh;
  height:5vh;
  cursor:not-allowed;
  color:var(--menue-font-notActiv-color);
  vertical-align: middle;
  text-align: left;
  background:none;
  overflow: hidden;
  text-overflow: ellipsis;
  /*font-family:verdana;*/
}


.dropdownMenuLabelBox{
  width:auto;
  height: auto;
  background:var(--menue-barLabel-bg-color);
  border-bottom: 1px solid var(--menue-font-color);
  display: flex;
}


.dropdownMenuLabel{
  /*width:15vw;*/
  width:auto;
  font-size: 2.2vh;
  line-height: 3vh;
  /*height: 3vh;*/
  font-weight: bold;
  color:var(--menue-font-color);
  vertical-align: middle;
  text-align: left;
  margin: 0px;
  /*font-family:verdana;*/
}

.dropdownMenuLabelImg{
  width: 3vh;
  height: 3vh;
  margin-left: 1vw;
  margin-right: 1vw;

}

.dropdownMenuButton{
  display: block;

  padding-left:1vw;
  padding-right:1vw;
  font-size: 2.2vh;
  line-height: 3vh;
  /*height: 3vh;*/
  cursor:pointer;
  color:var(--menue-font-color);
  vertical-align: middle;
  text-align: left;
  /*font-family:verdana;*/

}

.dropdownMenuButton:hover {
  background: var(--menue-bg-color-hover);
}


.dropdownNotActiveMenuButton{
  display: block;

  padding-left:1vw;
  padding-right:1vw;
  font-size: 2.2vh;
  line-height: 3vh;
  /*height: 3vh;*/
  cursor:not-allowed;
  color:var(--menue-font-notActiv-color);
  vertical-align: middle;
  text-align: left;
  /*font-family:verdana;*/
}
