.class_MyListColormapCanvas{

    height:100%;
    width:70%;
    margin-left:4%;
    border-radius: 0.5vh;
    background:rgb(180,180,180);

}


.classButtonWhite:hover {
  box-shadow: inset 0 0 0 2em rgba(180,180,180,0.3);
}


.classButtonWhite {
  color: black;
  background:white;
  transition: 0.5s;
}


.classButtonDark:hover {
  box-shadow: inset 0 0 0 2em rgba(180,180,180,0.3);
}


.classButtonDark {
  color: white;
  background:black;
  transition: 0.5s;
}


.classButtonBlue:hover {
  box-shadow: inset 0 0 0 2em rgb(72,61,139);
}


.classButtonBlue {
  color: white;
  background: rgb(65,105,225);
  transition: 0.5s;
  width: 12.5%;
  height:5vh;
  line-height: 5vh;
  font-size:2.2vh;
  border-radius: 0px 0px 1vh 1vh;
  color:white;
  font-weight: bold;
}
