.class_MyDesignObjContainer {
  width: 50%;
}

.class_MyDesignObjCMSDiv{
  width: 75%;
  height: 100%;
}

.class_MyDesignObjCMSCanvas{
  width: 100%;
  overflow: auto;
  font-family:courier;
}

.class_MyDesignObjButtonsDiv{
  width: 15%;
  margin-left: 2%;
  height: 100%;
}

.class_MyDesignButton{
  height: 40%;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 5px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
}

.class_MyDesignButton:hover{


}
