.class_GallerySectionButton{

  width: 14.285%;/*10%;*/
  margin: auto;
  /*border: 0.2vh solid black;
  background: rgb(120,120,120);
  cursor:pointer;
  -moz-box-shadow:    inset 0 0 0.4vh rgb(0,0,0);
   -webkit-box-shadow: inset 0 0 0.4vh rgb(0,0,0);
   box-shadow:         inset 0 0 0.4vh rgb(0,0,0);*/

}

.class_GallerySectionButton p{
  text-align: center;
  margin-top: 0.25vh;
  margin-bottom:0.25vh;
  /*font-weight: bold;*/
}

.class_GallerySectionButton canvas{
  width:90%;
  margin-left: 5%;
  border: 0.2vh solid grey;
  box-sizing: border-box;
  margin-bottom:0.5vh;
  height:3vh;
  border-radius: 0.3vh;
}

.class_GalleryCanvas{
  height:3vw;
  width:30vw;
  margin-left: 3vw;
  color: black;
  line-height:3vw;

  box-sizing: border-box;
  border: 0.2vh solid black;
  border-radius: 0.5vh;

  -moz-box-shadow:    inset 0 0 0.2vw rgb(0,0,0);
   -webkit-box-shadow: inset 0 0 0.2vw rgb(0,0,0);
   box-shadow:         inset 0 0 0.2vw rgb(0,0,0);
}

.class_GalleryButton{
  height:3vw;
  width:3vw;
  border: 0.2vh solid black;
  margin-left: 1vw;
  border-radius: 0.5vh;
  box-sizing: border-box;

  cursor: pointer;
  font-size: 2.3vw;
  vertical-align: middle;
  text-align: center;

  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;

  -moz-box-shadow:    inset 0 0 0.2vw rgb(0,0,0);
   -webkit-box-shadow: inset 0 0 0.2vw rgb(0,0,0);
   box-shadow:         inset 0 0 0.2vw rgb(0,0,0);
}
