/************************************************************
                  Text
************************************************************/



 html {
     color: #222;
     font-size: 1em;
     line-height: 1.4;
 }

 html {
   font-family: sans-serif; /* 1 */
   -ms-text-size-adjust: 100%; /* 2 */
   -webkit-text-size-adjust: 100%; /* 2 */
 }

 /**
  * Remove default margin.
  */

 body {
   margin: 0;
 }

 input{
  font-family: 'Helvetica', 'Arial', sans-serif;
  background: white;
  color: black;
  display:block;
  width:auto;
  /*padding: 0.2vh;
  margin: 0px;
  box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;*/
  font-size: 1.6vh;
  line-height: 1.8vh;
  height: 1.8vh;
 }

 input:disabled{
   color: grey;
   border-color: grey;
 }

input[type='radio']{
  width: 1.5vh;
  height: 1.5vh;
  margin:auto;
  border-radius: 1.5vh;
  /*background-color: #d1d3d1;*/
  /*border: 0.1 solid grey;*/
}

 /*input[type='radio']:after {
     background-color: #d1d3d1;
     border: 0.1 solid grey;
 }

 input[type='radio']:checked:after {
   background-color: #d1d3d1;
   border: 0.1 solid black;
 }*/




 /*Chrome*/
 @media screen and (-webkit-min-device-pixel-ratio:0) {
     input[type='range'] {
       width: 20vw;
       overflow: hidden;
       -webkit-appearance: none;
       background-color: rgba(235, 239, 240,0.1);
     }

     input[type='range']::-webkit-slider-runnable-track {
       height: 2vh;
       -webkit-appearance: none;
       color: #13bba4;
       margin-top: -1px;
     }

     input[type='range']::-webkit-slider-thumb {
       width: 2vh;
       -webkit-appearance: none;
       height: 2vh;
       cursor: ew-resize;
       background: rgb(67, 67, 67);
       box-shadow: -20vw 0 0 20vw rgb(175,255,255);
     }

 }
 /** FF*/
 input[type="range"]::-moz-range-progress {
   background-color: rgb(175,255,255);
 }
 input[type="range"]::-moz-range-track {
   background-color: rgba(235, 239, 240,0.1);
 }
 /* IE*/
 input[type="range"]::-ms-fill-lower {
   background-color: rgb(175,255,255);
 }
 input[type="range"]::-ms-fill-upper {
   background-color: rgba(235, 239, 240,0.1);
 }

 p{
  font-family: 'Helvetica', 'Arial', sans-serif;
  background: none;
  color: black;
  height:auto;
   width:auto;
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   white-space: pre-line;
 }

 h1,
 h2,
 h3,
 h4,
 button,
 canvas,
 textarea,
 select,
 div{
   font-family: 'Helvetica', 'Arial', sans-serif;
   background: none;
   color: black;
   width:auto;
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
 }


 .row{
     width: 100%;
     display: flex;
  }



  .class_OptionDiv{
    background:rgb(240,240,240);
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left:1vw;
    padding-right:1vw;
    border: 0.2vh solid black;
    box-shadow: 0 0.25vh 0.25vh 0 rgba(0, 0, 0, 0.2), 0 0.15vh 0.15vh 0 rgba(0, 0, 0, 0.25);
  }

.class_InsetLabelText{
  font-weight:bold;
  background-color: #565656;
  color: transparent;
  text-shadow: 0vh 0.3vh 0.1vh rgba(255,255,255,0.2);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.class_WhiteInsetLabelText{
  font-weight:bold;
  background-color: white;
  color: transparent;
  text-shadow: 0vh 0.3vh 0.1vh rgba(60,60,60,0.2);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.class_insetBoxShadow{
  box-shadow: inset 0vh 0vh 0.4vh 0.2vh rgba(0,0,0,0.3);
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.standardText{
  font-size: 1.6vh;
  line-height: 2vh;
  color:black;
  vertical-align:middle;
  margin:0px;
  overflow: hidden;
  text-overflow: ellipsis;
  /*font-family:courier;*/
}

.sectionLabel{
  font-size: 3.5vh;
  line-height: 4vh;
  color:black;
  font-weight: bold;
  height:auto;
  vertical-align:middle;
  text-align:center;
  width:100%;
  /*text-decoration: underline;*/
  margin:0px;
  /*font-family:verdana;*/
}

.subsectionLabel{
  font-size: 1.8vh;
  line-height: 2vh;
  font-size: 1.8vh;
  line-height: 2vh;;
  color:black;
  height: 2vh; /*auto;*/
  vertical-align:middle;
  text-align:center;
  width:100%;
  margin:0px;
  /*font-family:verdana;*/
}

.class_generalbutton{
    border: none;
    font-weight:bold;
    background-color: rgb(19, 111, 153);
    /*box-shadow: 0 0 1vh rgba(19, 111, 153, 0.5);*/
    color:white;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8vh;
    border-radius: 1vh;
    font-size: 1.8vh;
    text-align:center;
    overflow: auto;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}


.class_generalbutton:hover{
  transform: scale(0.9);
  background-color: rgb( 	8, 48, 66);
  /*box-shadow: 0 0 1vh rgba(8, 48, 66, 0.5);*/
}


.class_generalbuttonActive{
    border: none;
    font-weight:bold;
    background-color: rgb(228,62,0); /*rgb(0,191,255); rgb(15, 107, 149);*/
    box-shadow: 0 0 1vh rgba(228,62,0, 0.5);
    color:white;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8vh;
    border-radius: 1vh;
    font-size: 1.8vh;
    text-align:center;
    overflow: auto;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}



.class_generalbuttonActive:hover{
  transform: scale(0.9);
  background-color: rgb(255,69,0); /*30,144,255*/
  box-shadow: 0 0 1vh rgba(255,69,0, 0.5); /*30,144,255*/
}

.class_generalbutton_DarkBackground{
    border: none;
    font-weight:bold;
    background-color: rgb(245,255,255);
    /*box-shadow: none; /* 0 0 1vh rgba(175,255,255, 0.5)*/
    color:rgb(60,60,60);
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8vh;
    border-radius: 1vh;
    font-size: 1.8vh;
    text-align:center;
    overflow: auto;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}



.class_generalbutton_DarkBackground:hover{
  transform: scale(0.9);
  background-color: rgb(10, 239, 251);
  /*box-shadow: 0 0 1vh rgba(10, 239, 251, 0.5);*/
}




.classButtonWhite:hover {
  box-shadow: inset 0 0 0 2em rgba(180,180,180,0.3);
}


.classButtonWhite {
  color: black;
  background:white;
  /*transition: 0.5s;*/
}


.helpButtonDiv {
    position: relative;
    display: inline-block;
}

.helpButton {
    font-size: 1.6vh;
    line-height: 2vh;
    color:black;
    height:2vh;
    width:2vh;
    border: 0.2vh solid black;
    border-radius: 0.5vh;
    vertical-align:middle;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    /*font-family:courier;*/
}

.helpButtonDiv-content {
    display:none;
    position: absolute;
    padding:0.5vh;
    font-size: 1.6vh;
    line-height: 2vh;
    color:black;
    height:auto;
    width:250px;
    border: 0.2vh solid black;
    vertical-align:middle;
    overflow: hidden;
    text-overflow: ellipsis;
    /*font-family:courier;*/
    background: rgb(220,220,220);
    z-index:5

}

.helpButtonDiv:hover .helpButtonDiv-content {
    display: block;
}
