

#id_EditPage_backButton{
  background-color: rgb(204, 255, 204);
  border: 2px solid rgb(0, 204, 0);
}

#id_EditPage_backButton:hover{
  background-color: rgb(153, 255, 153);
}


#id_EditPage_savePartButton{
  background-color: rgb(255, 230, 179);
  border: 2px solid rgb(230, 153, 0);
}

#id_EditPage_savePartButton:hover{
  background-color: rgb(255, 204, 102);
}

.class_savebutton{
    background-color: rgb(255, 230, 179);
    border: 2px solid rgb(230, 153, 0);
    color: black;
    /*padding: 20px;*/
    width:240px;
    height: 70px;
    line-height: 70px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    /*margin-left: auto;*/
    overflow: auto;
    font-weight: bold;
    vertical-align: middle;
}

.class_savebutton:hover{
  background-color: rgb(255, 204, 102);
}


#id_EditPage_savePartDiv{
  height: 250px;
  width: 300px;
  background-color: rgb(255, 230, 179);
  border: 2px solid rgb(230, 153, 0);
  display: none;
}

#id_EditPage_guideLinePartButton{
  background-color: rgb(255, 204, 204);
  border: 2px solid rgb(179, 0, 0);
}

#id_EditPage_guideLinePartButton:hover{
  background-color: rgb(255, 102, 102);
}

#id_EditPage_GuideLineDiv{
  height: 758px;
  width: 500px;
  background-color: rgb(255, 204, 204);
  border: 2px solid rgb(179, 0, 0);
  display: none;
}



#id_EditPage_interpolationPartButton{
  float:right;
  background-color: rgb(230, 204, 255);
  border: 2px solid rgb(140, 26, 255);
}

#id_EditPage_interpolationPartButton:hover{
  background-color: rgb(204, 153, 255);
}

#id_EditPage_interpolationPartDiv{
  float:right;
  height: 375px;
  background-color: rgb(230, 204, 255);
  border: 2px solid rgb(140, 26, 255);
  display: none;
}


.class_EditPage_SelectInterpolationColorspace{
  height:26px;
  width:26px;
  border: 2px solid black;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  color: black;
  position: relative;
  overflow: hidden;
  background: rgb(230, 204, 255);
  border-radius: 5px;
  cursor: pointer;
}

/**
 * The "shine" element
 */

.class_EditPage_SelectInterpolationColorspace:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */

.class_EditPage_SelectInterpolationColorspace:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */

.class_EditPage_SelectInterpolationColorspace:active:after {
  opacity: 0;
}



#id_EditPage_cmsTablePartButton{
  float:right;
  background-color: rgb(204, 230, 255);
  border: 2px solid rgb(0, 79, 153);
}

#id_EditPage_cmsTablePartButton:hover{
  background-color: rgb(128, 191, 255);
}

#id_EditPage_cmsTablePartDiv{
  float:right;
  height: 375px;
  /*width: 750px;*/
  background-color: rgb(204, 230, 255);
  border: 2px solid rgb(0, 79, 153);
  display: none;
}



.class_tablelabel{
    height:20px;
    line-height:20px;
    font-size:12px;
    font-weight: bold;
    padding-right:5px;
    padding-left:5px;
    background:rgb(128, 191, 255);
    color: white;
    border-right: 1px solid white;
    vertical-align: middle;
    text-align: center;
}

.class_tableInput{
    height:20px;
    line-height:20px;
    font-size:12px;
    color: black;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
}




.class_predefinedConstBands{
    height: 20px;
    min-height: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 10px;
    float:left;
    line-height: 30px;
    vertical-align: middle;
    text-align:  center;
    font-size: 12px;
}

.class_predefinedScaledBands{
    height: 20px;
    width: 65%;
    margin-left: 10%;
    margin-right: 5%;
    border-radius: 3px;
    border: 1px solid black;
    float:left;
    line-height: 30px;
    vertical-align: middle;
    text-align:  center;
    font-size: 12px;

}

.class_reversebuttonEditPage{
  width:10%;
  height:20px;
  margin-right: 10%;
  border-radius: 3px;
  border: 1px solid black;
  line-height: 20px;
  font-size: 12px;
  color:black;
  vertical-align: middle;
  text-align:  center;
}


.classColormapCanvas{
  image-rendering: optimizeSpeed;             /* Older versions of FF*/
  image-rendering: -moz-crisp-edges;          /* FF 6.0+*/
  image-rendering: -webkit-optimize-contrast; /* Webkit (non standard naming)*/
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+)*/
  image-rendering: pixelated;               /* Possible future browsers.*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non standard naming)*/
}




#id_editPage_OrderLabel{
  overflow: hidden;
  color:white;
  font-size: 16px;
  cursor:pointer;
  /*vertical-align: middle;*/
  text-align: center;
}

#id_editPage_OrderLabel:hover {
  background: rgba(255,255,255,0.5);
}


.settingOrderDropdownButton{
  display: block;
  width:150px;
  margin-left: 25px;
  font-size: 16px;
  line-height: 25px;
  cursor:pointer;
  color:white;
  vertical-align: middle;
  text-align: left;
}

.settingOrderDropdownButton:hover {
  background: rgba(255,255,255,0.2);
}
