/************************************************************
                  Text
************************************************************/


.class_InsetLabelText{
  font-weight:bold;
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 3px 1px rgba(255,255,255,0.2);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.class_WhiteInsetLabelText{
  font-weight:bold;
  background-color: white;
  color: transparent;
  text-shadow: 3px 1px 0px rgba(0,0,0,0.4);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.class_insetBoxShadow{
  box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.3);
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.standardText{
  font-size: 16px;
  line-height: 20px;
  color:rgb(80,80,80);
  height:auto;
  vertical-align:middle;
  margin:0px;
  overflow: hidden;
  text-overflow: ellipsis;
  /*font-family:courier;*/
}

.sectionLabel{
  font-size: 35px;
  line-height: 40px;
  color:black;
  height:auto;
  vertical-align:middle;
  text-align:center;
  width:100%;
  text-decoration: underline;
  margin:0px;
  /*font-family:verdana;*/
}

.subsectionLabel{
  font-size: 18px;
  line-height: 16px;
  color:black;
  height: 18px; /*auto;*/
  vertical-align:middle;
  text-align:center;
  width:100%;
  margin:0px;
  /*font-family:verdana;*/
}

.class_generalbutton{
    background-color: rgb(76, 175, 80);
    border: 2px solid rgb(0, 143, 0);
    color: white;
    /*padding: 20px;*/
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    /*margin-left: auto;*/
    overflow: auto;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    /*font-family:courier;*/
}

.class_generalbutton:hover{
  background-color: rgb(0, 143, 0);
}

.class_noSizeUpdate{

}

.class_RotateLeft{
  width:2.5vw;
  border-radius : 0px 1vw 1vw 0px;
  cursor: pointer;
  font-size: 1vw;
  line-height: 2.5vw;
  vertical-align: middle;
  text-align: center;

  writing-mode: vertical-lr;/*sideways-lr;*/
  -webkit-writing-mode: vertical-lr;/*sideways-lr;*/
  -ms-writing-mode: vertical-lr;/*sideways-lr;*/


  writing-mode: sideways-lr;
  -webkit-writing-mode: sideways-lr;
  -ms-writing-mode: sideways-lr;

}


.class_RotateRight{
  width:2.5vw;
  border-radius : 1vw 0px 0px 1vw;
  cursor: pointer;
  font-size: 1vw;
  line-height: 2.5vw;
  vertical-align: middle;
  text-align: center;

  writing-mode: vertical-rl;/*sideways-rl;*/
  -webkit-writing-mode: vertical-rl;/*sideways-rl;*/
  -ms-writing-mode: vertical-rl;/*sideways-rl;*/

  writing-mode: sideways-rl;
  -webkit-writing-mode: sideways-rl;
  -ms-writing-mode: sideways-rl;
}

.class_subsectionButtonUnderground{
  border-radius: 0px 0px 10px 10px;
}

.class_subsectionButton{
   /*background: rgba(255,255,255,0.7);*/
   height:30px;
   line-height: 30px;
   font-size: 18px;
   font-weight: bold;
   color:white;
   text-align: center;
   vertical-align: middle;
   cursor:pointer;
   border-radius: 0px 0px 10px 10px;
   width:100%;
   /*border: 2px solid rgb(20,20,20);*/
}

.class_subsectionButton:hover{
   background: rgba(180,180,180,0.5);
}


.classButtonWhite:hover {
  box-shadow: inset 0 0 0 2em rgba(180,180,180,0.3);
}


.classButtonWhite {
  color: black;
  background:white;
  /*transition: 0.5s;*/
}


.helpButtonDiv {
    position: relative;
    display: inline-block;
}

.helpButton {
    font-size: 16px;
    line-height: 20px;
    color:black;
    height:20px;
    width:20px;
    border: 1px solid black;
    border-radius: 5px;
    vertical-align:middle;
    text-align: center;
    margin:0px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*font-family:courier;*/
}

.helpButtonDiv-content {
    display:none;
    position: absolute;
    padding:5px;
    font-size: 16px;
    line-height: 20px;
    color:black;
    height:auto;
    width:250px;
    border: 1px solid black;
    vertical-align:middle;
    margin:0px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*font-family:courier;*/
    background: rgb(220,220,220);
    z-index:5

}

.helpButtonDiv:hover .helpButtonDiv-content {
    display: block;
}
