
.class_EditPage_closeDiv {
  height:2vh;
  width: 100%;
  /*background: rgb(25, 38, 51);*/

  background-image: linear-gradient(rgb(60,60,60), rgb(40,40,40));
  margin:0;
  border: 0.2vh solid black;
  display: flex;
  /*-moz-box-shadow:    inset 0 0 0.2vh white;
   -webkit-box-shadow: inset 0 0 0.2vh white;
   box-shadow:         inset 0 0 0.2vh white;*/
}

.class_EditPage_closeDiv div{
  margin-top: auto;
  margin-bottom: auto;
  margin-left:auto;
  margin-right:0.25vw;
  cursor: pointer;
  height: 1.5vh;
  line-height: 1.5vh;
  font-size: 1.5vh;
  font-weight: bold;
  color: rgb(69, 180, 231);
  text-shadow: 0 0 2vh rgb(69, 180, 231);
  vertical-align: middle;
  text-align: center;
  transition: transform ease-in 0.1s;

}

.class_EditPage_closeDiv div:hover{
  transform: rotate(360deg);
  color: rgb(242,92,102);
  text-shadow: 0 0 2vh rgb(242,92,102);
}


.class_EditPage_EditButton{
  line-height: 3vh;
  color: white;
  height: 3vh;
  width: 3vh;
  font-size: 1.5vh;
  vertical-align: middle;
  text-align: center;
  background:none;
  border: 0.2vh solid white;
  border-radius: 0.5vh;
  overflow: hidden;
  margin:auto;
  transition: transform ease-in 0.1s;
  cursor: pointer;
  /*-moz-box-shadow:    inset 0 0 0.3vh rgb(180,180,180);
   -webkit-box-shadow: inset 0 0 0.3vh rgb(180,180,180);
   box-shadow:         inset 0 0 0.3vh rgb(180,180,180);*/

   /*background-size:cover;
   //background-repeat:no-repeat;
   //background-position: center center;*/

}

.class_EditPage_EditButton:hover{
  transform: scale(0.9);
}

.class_EditPage_SelectPredefinedCMS{
  -moz-box-shadow:    inset 0 0 0.5vh rgb(0,0,0);
   -webkit-box-shadow: inset 0 0 0.5vh rgb(0,0,0);
   box-shadow:         inset 0 0 0.5vh rgb(0,0,0);
}


.class_EditPage_SelectPredefinedCMS:hover{
  -moz-box-shadow:    inset 0 0 0.5vh rgb(255,255,255);
   -webkit-box-shadow: inset 0 0 0.5vh rgb(255,255,255);
   box-shadow:         inset 0 0 0.5vh rgb(255,255,255);
}


.class_EditPage_EditButtonLabel{
  line-height: 3vh;
  color: rgb(220,220,220);
  height: 3vh;
  font-size: 1.8vh;
  overflow: hidden;
  margin:auto;
}

.class_EditPage_TabRow {
  margin:0;
  display: flex;
  height: auto;
  width: 100%;
}

.class_EditPage_TabRow button{
  height:4vh;
  line-height: 4vh;
  width: 100%;
  font-size: 2.0vh;
  text-align: center;
  border: 0.1vh solid black;

}

.class_EditPage_TabRow canvas{
  height:3vh;
  line-height: 3vh;
  width: 100%;
  text-align: center;
  border: 0.1vh solid black;
  transition: transform ease-in 0.1s;
}

.class_EditPage_TabRow canvas:hover{
  border-color: white;
  transform: scale(0.9);
}

.class_EditPage_TabRowButtonActive{
  background-image: linear-gradient(rgb(40,40,40), rgb(10,10,10));
  color: rgb(69, 180, 231);
  text-shadow: 0 0 0.2vh rgb(9, 120, 171);
}

.class_EditPage_TabRowButtonActive:hover{
  color: white;
}

.class_EditPage_TabRowButtonActive p{
  color: rgb(69, 180, 231);
  text-shadow: 0 0 0.2vh rgb(9, 120, 171);
  transition: transform ease-in 0.1s;
}

.class_EditPage_TabRowButtonActive:hover p{
  color: white;
  transition: transform ease-in 0.1s;
  transform: scale(0.9);
}

.class_EditPage_TabRowButtonActive canvas{
  /*box-shadow: 0 0 0.5vh rgb(9, 120, 171);*/
  box-sizing: border-box;
  transition: transform ease-in 0.1s;
}

.class_EditPage_TabRowButtonActive:hover canvas{
  border-color: white;
  transform: scale(0.9);
}

.class_EditPage_TabRowButtonNotActive{
  background-image: linear-gradient(rgb(60,60,60), rgb(25,25,25));
  color: rgb(180,180,180);
  text-shadow: none;
}

.class_EditPage_TabRowButtonNotActive:hover{
  color: white;
}

.class_EditPage_TabRowButtonNotActive p{
  color: rgb(180,180,180);
  text-shadow: 0 0 0.2vh none;
  transition: transform ease-in 0.1s;
}

.class_EditPage_TabRowButtonNotActive:hover p{
  color: white;
  transform: scale(0.9);
}

.class_EditPage_TabRowButtonNotActive canvas{
  box-shadow: 0 0 0.2vh none;
  transition: transform ease-in 0.1s;
}

.class_EditPage_TabRowButtonNotActive:hover canvas{
  border-color: white;
  transform: scale(0.9);
}


/*.class_EditPage_TabRow canvas{
  background: none;
  height:4vh;
  line-height: 4vh;
}*/



.class_tablelabel{
    height:1.5vh;
    line-height:1.5vh;
    font-size:1.0vh;
    font-weight: bold;
    background: grey;
    color: white;
    vertical-align: middle;
    text-align: center;
}

.class_tableInput{
    overflow: hidden;
    text-overflow: ellipsis;
    height:2vh;
    max-height: 2vh;
    line-height:2vh;
    font-size:1.0vh;
    color: black;
    background:white;
    border: 0.1vh solid black;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.class_tableInputDark{
    overflow: hidden;
    text-overflow: ellipsis;
    height:2vh;
    max-height: 2vh;
    line-height:2vh;
    font-size:1.0vh;
    color: black;
    background:rgb(220,220,220);
    border: 0.1vh solid black;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}


.class_predefinedConstBands{

    box-sizing: border-box;
    cursor: grabbing;
    width:3vh;
    height:3vh;
    min-width:3vh;
    min-height:3vh;
    line-height:3vh;
    margin-right: 0.25vh;
    margin-left: 0.25vh;
    margin-top: 0.25vh;
    margin-bottom: 0.25vh;
    border-radius: 0.5vh;
    color: black;
    border: 0.2vh solid black;
    float:left;
    display: inline-block;
    white-space: nowrap;
    transition: transform ease-in 0.1s;

    /*-moz-box-shadow:    inset 0 0 0.3vh rgb(180,180,180);
     -webkit-box-shadow: inset 0 0 0.3vh rgb(180,180,180);
     box-shadow:         inset 0 0 0.3vh rgb(180,180,180);*/
}

.class_predefinedConstBands:hover{
  transform: scale(0.9);
}


.class_predefinedLinearCMSBands{
    box-sizing: content-box;
    border: 0.2vh solid black;
    width: 90%;
    height:3vh;
    margin-top: 0.25vh;
    margin-left: 5%;
    border-radius: 0.5vh;
    /*-moz-box-shadow:    inset 0 0 0.5vh rgb(180,180,180);
     -webkit-box-shadow: inset 0 0 0.5vh rgb(180,180,180);
     box-shadow:         inset 0 0 0.5vh rgb(180,180,180);*/
    cursor: grabbing;
    transition: transform ease-in 0.1s;

}

.class_predefinedLinearCMSBands:hover{
  transform: scale(0.9);
}

.class_predefinedLinearCMSBandsWidthReverse{
    box-sizing: content-box;
    border: 0.2vh solid black;
    width: 75%;
    height:3vh;
    margin-top: 0.25vh;
    margin-left: auto;
    border-radius: 0.5vh;
    /*-moz-box-shadow:    inset 0 0 0.5vh rgb(180,180,180);
     -webkit-box-shadow: inset 0 0 0.5vh rgb(180,180,180);
     box-shadow:         inset 0 0 0.5vh rgb(180,180,180);*/
    cursor: grabbing;
    transition: transform ease-in 0.1s;

}

.class_predefinedLinearCMSBandsWidthReverse:hover{
  transform: scale(0.9);
}


.class_predefinedLinearCMSBandsReverseButton{
    box-sizing: content-box;
    border: 0.2vh solid black;
    width: 7.5%;
    max-width: 7.5%;
    height:3vh;
    background: white;
    color: black;
    line-height:3vh;
    font-size: 1.8vh;
    margin-top: 0.25vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5vh;
    /*-moz-box-shadow:    inset 0 0 0.3vh rgb(180,180,180);
     -webkit-box-shadow: inset 0 0 0.3vh rgb(180,180,180);
     box-shadow:         inset 0 0 0.3vh rgb(180,180,180);*/
    cursor: pointer;
    transition: transform ease-in 0.1s;

}

.class_predefinedLinearCMSBandsReverseButton:hover{
  transform: scale(0.9);
}




.classColormapCanvas{
  image-rendering: optimizeSpeed;             /* Older versions of FF*/
  image-rendering: -moz-crisp-edges;          /* FF 6.0+*/
  image-rendering: -webkit-optimize-contrast; /* Webkit (non standard naming)*/
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+)*/
  image-rendering: pixelated;               /* Possible future browsers.*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non standard naming)*/
}





.dropdownButtonEditPage{
  display: flex;
  /*width:250px;*/
  font-size: 16px;
  line-height: 25px;
  cursor:pointer;
  color:white;
  vertical-align: middle;
  text-align: left;
  padding: 5px;
  border-top:1px solid white;
  /*font-family:courier;*/
  font-weight: bold;
}

.dropdownButtonEditPage:hover {
  background: rgba(255,255,255,0.2);
}


.class_Analysis_Colormaps{
  height:100%;
  border: 1px solid black;
  background:grey;
}

#id_EditPage_CMS_VIS_Histogramm,
#id_EditPage_Canvas_GlobalLocalOrder,
#id_PopUp_FullAnalayzeCanvas{
  image-rendering: optimizeSpeed;             /* Older versions of FF*/
  image-rendering: -moz-crisp-edges;          /* FF 6.0+*/
  image-rendering: -webkit-optimize-contrast; /* Webkit (non standard naming)*/
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+)*/
  image-rendering: pixelated;               /* Possible future browsers.*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non standard naming)*/
}
