

.navi_div{
  margin-top: 0.25vh;
  margin-bottom: 0.25vh;
  width:10vw;
  border: 0.2vh solid black;
  display:flex;
}

.navi_div p{
  margin:auto;
  height:4vh;
  line-height:4vh;
  vertical-align: middle;
  text-align: center;
  font-size: 2vh;
}

.navi_divPos{
  border-color: rgb(10, 239, 251); /*rgb(0,250,154);*/
  cursor: pointer;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

}

.navi_divPos p{
  color: rgb(10, 239, 251); /*rgb(0,250,154);*/
  height:4vh;
  line-height:4vh;
  vertical-align: middle;
  text-align: center;
  font-size: 2vh;
}

.navi_divPos:hover{
  transform: scale(0.9);
  box-shadow: 0 0 1vh rgb(10, 239, 251);
}

/*.navi_divPos:hover .navi_Label{
  transform: rotate(360deg);
}*/


.navi_divCurrent{
  border-color: rgb(255,255,255);
  transition: transform ease-in 0.1s;
  cursor: default;
}


.navi_Label{
  transition: transform ease-in 0.1s;
}
.navi_div:hover .navi_Label{
  transform: rotate(360deg);
}

.navi_divCurrent p{
  color:rgb(255,255,255);
  height:4vh;
  line-height:4vh;
  vertical-align: middle;
  text-align: center;
  font-size: 2vh;
}

.navi_divNeg{
  border-color: rgb(255,69,0); /*rgb(242,92,102);*/
  cursor: not-allowed;
}

.navi_divNeg p{
  color: rgb(255,69,0); /*rgb(242,92,102);*/
  height:4vh;
  line-height:4vh;
  vertical-align: middle;
  text-align: center;
  font-size: 2vh;
}

.navi_canvas{
  margin-top: 0.25vh;
  margin-bottom: 0.25vh;
  height:4vh;
  display:block;
  width:5vw;
  /*background:red;*/
}


.menu_button {
  padding-right:1vw;
  padding-left:1vw;
  font-size: 2vh;
  line-height: 5vh;
  height:5vh;
  cursor:pointer;
  color:white;
  vertical-align: middle;
  text-align: center;
  background:none;
  overflow: hidden;
  text-overflow: ellipsis;
  /*font-family:verdana;*/
}


.menu_button:hover {
  background: rgba(255,255,255,0.5);
}


.menu_buttonNotActive {
  padding-right:1vw;
  padding-left:1vw;
  font-size: 2vh;
  line-height: 5vh;
  height:5vh;
  cursor:not-allowed;
  color:rgb(180,180,180);
  vertical-align: middle;
  text-align: left;
  background:none;
  overflow: hidden;
  text-overflow: ellipsis;
  /*font-family:verdana;*/
}


.dropdownMenuLabelBox{
  width:auto;
  height: auto;
  background:rgba(255,255,255,0.3);
  border-bottom: 1px solid white;
}


.dropdownMenuLabel{
  /*width:15vw;*/
  width:auto;
  font-size: 2.2vh;
  line-height: 3vh;
  /*height: 3vh;*/
  font-weight: bold;
  color:white;
  vertical-align: middle;
  text-align: left;
  margin: 0px;
  /*font-family:verdana;*/
}

.dropdownMenuLabelImg{
  width: 3vh;
  height: 3vh;
  margin-left: 1vw;
  margin-right: 1vw;

}

.dropdownMenuButton{
  display: block;

  padding-left:1vw;
  padding-right:1vw;
  font-size: 2.2vh;
  line-height: 3vh;
  /*height: 3vh;*/
  cursor:pointer;
  color:white;
  vertical-align: middle;
  text-align: left;
  /*font-family:verdana;*/

}

.dropdownMenuButton:hover {
  background: rgba(255,255,255,0.2);
}


.dropdownNotActiveMenuButton{
  display: block;

  padding-left:1vw;
  padding-right:1vw;
  font-size: 2.2vh;
  line-height: 3vh;
  /*height: 3vh;*/
  cursor:not-allowed;
  color:rgb(180,180,180);
  vertical-align: middle;
  text-align: left;
  /*font-family:verdana;*/
}
