
.class_PopUpButtonDiv{
  width:100%;
  margin-top: 2vh;
  display:flex;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  background: var(--main-popUpWindow-labelbg-color);
}

.class_svgBrackets{
  height: 100%;
  width: 1vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.class_transferInput{
  height: 2.5vh;
  line-height: 2.5vh;
  font-size: 2.0vh;
  vertical-align: middle;
  text-align: center;
  margin-top:0.25vh;
  margin-bottom:0.25vh;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
}

.class_NewsSection{
  font-size: 2.0vh;
  line-height: 2.5vh;
  height: 2.5vh;
  width: 100%;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}

.class_NewsParagraph{
  font-size: 1.8vh;
  line-height: 2vh;
  height: 2vh;
  width: 100%;
  vertical-align: middle;
}


.class_popupWindow_RemoteButton{
  height: 5vh;
  margin-top:1vh;
  margin-right:auto;
  margin-left:auto;
  width:11vw;
  font-size: 1.8vh;
  line-height: 5vh;
  vertical-align: middle;
  text-align: center;
  color:black;
  border-radius: 2vh;
  background:rgb(200,200,200);
  border: 0.1vh solid black;
  -moz-box-shadow:  inset 0 0 1vh rgb(0,0,0);
  -webkit-box-shadow: inset 0 0 1vh rgb(0,0,0);
  box-shadow: inset 0 0 1vh rgb(0,0,0);
  cursor: pointer;
}

.class_popupWindow_NotActiveRemoteButton{
  height: 5vh;
  margin-top:1vh;
  margin-right:auto;
  margin-left:auto;
  width:11vw;
  font-size: 1.8vh;
  line-height: 5vh;
  vertical-align: middle;
  text-align: center;
  color:grey;
  border-radius: 2vh;
  background:rgb(200,200,200);
  border: 0.1vh solid black;
  -moz-box-shadow:  inset 0 0 1vh rgb(0,0,0);
  -webkit-box-shadow: inset 0 0 1vh rgb(0,0,0);
  box-shadow: inset 0 0 1vh rgb(0,0,0);
  cursor: not-allowed;
}




.class_popupWindow_Label{
  width:100%;

  padding-top: 1vh;
  padding-bottom: 1vh;
  vertical-align:middle;
  text-align:center;
  vertical-align: middle;
  margin:0px;
  color:var(--main-label-font-color);
  line-height: var(--line-height-label);
  font-size: var(--font-size-label);
  background: var(--main-popUpWindow-labelbg-color);
  /*font-family:verdana;*/
}

.class_RadioButtonPopUpWindow{

  font-size: 1.6vh;
  line-height: 2vh;
  height: 2vh;
  height:auto;
  color:black;
  vertical-align:middle;
  margin:0px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom:0.5vh;
  /*font-family:courier;*/

}

.class_InputPopUpWindow{
  font-size: 1.6vh;
  line-height: 2vh;
  height:2vh;
  color:black;
  vertical-align:middle;
  margin:0px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top:auto;
  margin-bottom:auto;
  /*font-family:courier;*/
}

.class_ShortcutKeyDiv{
text-align:center;
height:5vh;
line-height:5vh;
font-size:3vh;
padding-left: 1vh;
padding-right: 1vh;
vertical-align:middle;
border: 0.2vh solid black;
border-radius: 1vh;
color: var(--main-font-color);
background: var(--main-second-bg-color);
}

.class_ShortcutText{
text-align:center;
height:5vh;
line-height:5vh;
font-size:3vh;
color: var(--main-font-color);
vertical-align:middle;
}

#id_popupWindow_CloseColorpicker{
  height:3vh;
  width:3vh;
  border-left:2px solid grey;
  line-height:3vh;
  vertical-align:middle;
  text-align:center;
  vertical-align: middle;
  margin:0px;
  color:white;
  font-size:2.5vh;
  background:black;
  cursor: pointer;
  /*font-family:verdana;*/
}


#id_popupWindow_CloseColorpicker:hover{
  background:grey;
}
