.class_TabRow {
  margin:0;
  background: var(--tabrow-bg-color);
  display: flex;
  height: auto;
  width: 100%;
  cursor: pointer;
}



.class_TabRow button{
  height:4vh;
  line-height: 4vh;
  width: 100%;
  font-size: 2.0vh;
  border-color: var(--tabrow-bg-color);
  text-align: center;
}

/*.class_TabRow button:hover{
  background: var(--tabrow-hover-bg-color);
}*/


.class_TabRow canvas{
  height:3vh;
  line-height: 3vh;
  width: 100%;
  text-align: center;
  border: 0.1vh solid none;
  transition: transform ease-in 0.1s;
}

.class_TabRow canvas:hover{
  transform: scale(0.9);
}




.class_TabRowButtonActive{
  background: var(--tabrow-active-color);
  color: var(--tabrow-active-font-color);
}

.class_TabRowButtonActive:focus {outline:0;}



.class_TabRowButtonActive p{
  transition: transform ease-in 0.1s;
}

.class_TabRowButtonActive:hover p{
  transform: scale(0.9);
}

.class_TabRowButtonActive canvas{
  box-sizing: border-box;
  transition: transform ease-in 0.1s;
}

.class_TabRowButtonActive:hover canvas{
  transform: scale(0.9);
}




.class_TabRowButtonNotActive{
  height:4vh;
  line-height: 4vh;
  width: 100%;
  font-size: 2.0vh;
  text-align: center;
  background: var(--tabrow-bg-color);
  color: var(--tabrow-font-color);
}

.class_TabRowButtonNotActive:focus {outline:0;}

.class_TabRowButtonNotActive:hover{
  background: var(--tabrow-font-color);
  color: var(--tabrow-bg-color);
}

.class_TabRowButtonNotActive p{
  transition: transform ease-in 0.1s;
}

.class_TabRowButtonNotActive:hover p{
  color: var(--tabrow-bg-color);
  transform: scale(0.9);
}

.class_TabRowButtonNotActive canvas{
  transition: transform ease-in 0.1s;
}

.class_TabRowButtonNotActive:hover canvas{
  transform: scale(0.9);
}


/************************************************************/

.class_TabRowBorderButtonActive{
  background: var(--tabrow-active-bg-color);
  /*border: 0.1vw solid var(--tabrow-active-color);*/
  color: var(--tabrow-active-color);
}

.class_TabRowBorderButtonActive:focus {outline:0;}

.class_TabRowBorderButtonActive p{
  color: var(--tabrow-active-color);
  transition: transform ease-in 0.1s;
}

.class_TabRowBorderButtonActive:hover p{
  transform: scale(0.9);
}

.class_TabRowBorderButtonActive canvas{
  border-color: var(--tabrow-bg-color);
  box-sizing: border-box;
  transition: transform ease-in 0.1s;
}

.class_TabRowBorderButtonActive:hover canvas{
  transform: scale(0.9);
}


.class_TabRowBorderButtonNotActive{
  background:none;
  color: var(--tabrow-font-color);
}

.class_TabRowBorderButtonNotActive:focus {outline:0;}

.class_TabRowBorderButtonNotActive:hover{
  background: var(--tabrow-font-color);
  color: var(--tabrow-bg-color);
}

.class_TabRowBorderButtonNotActive p{
  transition: transform ease-in 0.1s;
}

.class_TabRowBorderButtonNotActive:hover p{
  color: var(--tabrow-bg-color);
  transform: scale(0.9);
}

.class_TabRowBorderButtonNotActive canvas{
  border-color: var(--tabrow-bg-color);
  transition: transform ease-in 0.1s;
}

.class_TabRowBorderButtonNotActive:hover canvas{
  transform: scale(0.9);
}
