:root {

  --font-size-normal: 2vh;
  --line-height-normal: 2.5vh;

  --font-size-label: 3.5vh;
  --line-height-label: 5vh;

  --button-font-size : 1.6vh;
  --button-height: 3vh;
  --button-border-radius: 0.75vh;

  --font-family: 'Helvetica', 'Arial', sans-serif;



  /**************************************
  /**************************************
  /**************************************
  ****  COLOR Design
  ***************************************
  ***************************************
  ***************************************/

  --general-active-color: rgb(51,153,255);
  --general-hover-color: rgb(0,102,204);
  --general-warning-color: rgb(255,153,153);
  --general-lowWarning-color : rgb(255,69,0);
  --general-check-color: rgb(124,252,0);
  --general-bg-hover-color: rgb(107,113,128); /*brighter than background, darker than font*/

  /**************************************
  **** Menue
  ***************************************/
  --menue-bg-color: rgb(0, 0, 0);
  --menue-navi-bg-color: rgba(0, 0, 0,0.9);
  --menue-font-color: rgb(255,255,255);
  --menue-label-color:  rgb(255,255,255);
  --menue-warning-font-color: var(--general-warning-color);
  --menue-bg-color-hover: rgba(255,255,255,0.3);
  --menue-font-activ-color: rgb(255,255,255);
  --menue-font-notActiv-color: rgb(180 ,180,180);
  --menue-barLabel-bg-color: rgba(255,255,255,0.3);
  --menue-navi-negative-color: var(--general-warning-color);
  --menue-navi-positive-color: rgb(153,204,255);

  --main-popUpWindow-bg-color: rgba(0,0,0,0.85);
  --main-popUpWindow-labelbg-color: var(--menue-bg-color);
  --main-popUpWindow-labelfont-color:  rgb(255,255,255);

  /**************************************
  **** General
  ***************************************/
  --main-bg-color: rgb(255,255,255);
  --main-second-bg-color: rgb(225,225,225);
  --main-font-color: rgb(10,10,10);
  --main-font-notactive-color: rgb(120,120,120);
  --main-warning-font-color: rgb(224,108,117);
  --main-label-font-color: rgb(255,255,255);
  --main-nonActiveColor: rgb(63, 139, 183);
  --main-nonActiveColor-hover: rgb(19, 111, 153);
  --main-button-bg: var(--main-font-color);
  --main-button-bg-hover: var(--general-hover-color);
  --main-button-font: var(--main-bg-color);
  --main-activebutton-bg: var(--general-active-color);
  --main-activebutton-bg-hover: var(--main-button-bg-hover);
  --main-coloredButton: #333; /*rgb(76, 175, 80);*/
  --main-hover-coloredButton: red; /*rgb(76, 175, 80);*/
  --main-active-coloredButton: rgb(128, 23, 23); /*rgb(26, 97, 29);*/
  --main-active-coloredButton_Dark: rgb(224, 82, 82); /*rgb(26, 97, 29);*/
  --main-coloredButton_Dark: rgb(240,240,240);

  /**** Link Colors ****/
  --link-color: rgb(0, 102, 204);
  --link-color-visited:rgb(128, 0, 128);
  --link-color-hover:rgb(0, 152, 254);
  --link-color-active:rgb(0, 152, 254);


  /****** Gallery MyDesigns Objects *****/
  --cms-obj-font-color:rgb(255,255,255);

  /**** Sep Area ****/
  --main-sepArea-bg: rgb(30, 30, 30);
  --main-sepArea-bg-alpha: rgba(30, 30, 30,0.98);
  --main-sepArea-border: rgb(15, 15, 15);
  --main-second-sepArea-bg: rgb(50, 50, 50);
  --main-sepArea-font-color: rgb(240,240,240);
  --main-Button-sepArea-font-color: rgb(255,255,255);
  --main-Button-sepArea-font-hover: rgb(153,204,255);
  --main-Button-sepArea-bg-color: none;
  --main-Button-sepArea-bg-color-hover: none;
  --main-sepArea-link-color: var(--link-color);
  --main-sepArea-link-color-visited:var(--link-color-visited);
  --main-sepArea-link-color-hover:var(--link-color-hover);
  --main-sepArea-link-color-active:var(--link-color-active);


  /***** Scrollbar *****/
  --scrollbar-track-bg: var(--main-bg-color);
  --scrollbar-track-shadow: rgb(37,40,47);
  --scrollbar-thump-bg: rgb(97,100,107);
  --scrollbar-thump-bg-hover: var(--general-hover-color);


  /**** Table *****/
  --main-table-bg1-color: var(--main-bg-color);
  --main-table-bg2-color: var(--main-second-bg-color);
  --main-table-border-color: var(--main-sepArea-bg);
  --main-table-font-color: var(--main-font-color);


  /**** Input *****/
  --input-bg-color: rgb(255,255,255);
  --input-font-color: rgb(0,0,0);
  --input-placeholder-font-color: rgb(80,80,80); /*brighter than normal font color and darker than background color*/
  --input-disabled-bg-color: rgb(220,220,220);
  --input-disabled-font-color: rgb(160,160,160);


  --radio-bg-color: rgb(180,180,180);
  --radio-disabled-bg-color: rgb(220,220,220); /* darker than main-sepArea-bg*/
  --radio-bg-color-hover: var(--general-hover-color);
  --radio-disabled-bg-color-hover: var(--general-warning-color);

  --range-bg-color: var(--menue-bg-color);
  --range-track-color: var(--menue-bg-color);
  --range-lower-color: var(--general-active-color);
  --range-upper-color: var(--main-sepArea-bg);
  --range-slider-thumb-color: rgb(217,220,227);
  --range-slider-thumb-border-color: rgb(32, 36, 43);
  --range-slider-thumb-color-hover: var(--general-hover-color);

  /***** Tab Row ******/
  --tabrow-bg-color: var(--main-sepArea-bg);
  --tabrow-font-color: rgb(255,255,255);
  --tabrow-active-color: rgb(255,255,255);
  --tabrow-active-font-color: var(--main-sepArea-bg);
  --tabrow-active-bg-color: var(--main-second-sepArea-bg);






}
