:root {

  --font-size-normal: 1.6vh;
  --line-height-normal: 2vh;

  --font-size-label: 3.5vh;
  --line-height-label: 5vh;





  /**************************************
  /**************************************
  /**************************************
  ****  COLOR Design
  ***************************************
  ***************************************
  ***************************************/

  --general-active-color: rgb(218,146,77);
  --general-hover-color: rgb(225,192,141);
  --general-warning-color: rgb(224,108,117);
  --general-bg-hover-color: rgb(107,113,128); /*brighter than background, darker than font*/

  /**************************************
  **** General
  ***************************************/
  --main-bg-color: rgb(77,80,87);/*rgb(57,60,67);/*rgb(255,255,255);*/
  --main-second-bg-color: rgb(57,60,67);/*rgb(77,80,87);/**/
  --main-font-color: rgb(157,163,178);
  --main-font-notactive-color: rgb(107,113,128);
  --main-warning-font-color: var(--general-warning-color);/*tomato;*/
  --main-label-font-color: var(--general-active-color);
  --main-nonActiveColor: rgb(63, 139, 183);
  --main-nonActiveColor-hover: rgb(19, 111, 153);
  /*--main-activeColor: rgb(228,62,0);
  --main-activeColor-hover: rgb(255,69,0);*/
  --main-button-bg: var(--main-font-color);/*rgb(157,163,178);*/
  --main-button-bg-hover: var(--general-hover-color);
  --main-button-font: var(--main-bg-color); /*rgb(57,60,67);*/
  --main-activebutton-bg: var(--general-active-color);/*rgb(157,163,178);*/
  --main-activebutton-bg-hover: var(--main-button-bg-hover);

  /**** Link Colors ****/
  --link-color: rgb(63, 139, 183);
  --link-color-visited:rgb(228,62,0);
  --link-color-hover:rgb(19, 111, 153);
  --link-color-active:rgb(19, 111, 153);


  /**** Sep Area ****/
  --main-sepArea-bg: rgb(32, 36, 43);
  --main-sepArea-font-color: var(--main-font-color);
  --main-sepArea-border: none;
  --main-Button-sepArea-font-color: rgb(32, 36, 43);
  --main-Button-sepArea-bg-color: var(--main-font-color);/*rgb(157,163,178);*/
  --main-Button-sepArea-bg-color-hover: var(--general-hover-color);
  --main-sepArea-link-color: var(--link-color);
  --main-sepArea-link-color-visited:var(--link-color-visited);
  --main-sepArea-link-color-hover:var(--link-color-hover);
  --main-sepArea-link-color-active:var(--link-color-active);


  /***** Scrollbar *****/
  --scrollbar-track-bg: var(--main-bg-color); /*rgb(57,60,67);*/
  --scrollbar-track-shadow: rgb(37,40,47);
  --scrollbar-thump-bg: rgb(97,100,107);
  --scrollbar-thump-bg-hover: var(--general-hover-color);


  /**** Table *****/
  --main-table-bg1-color: rgb(245,245,245);
  --main-table-bg2-color: rgb(225,225,225);
  --main-table-border-color: rgb(32, 36, 43);
  --main-table-font-color: rgb(32, 36, 43);


  /**** Input *****/
  --input-bg-color: var(--main-font-color);
  --input-font-color: var(--main-sepArea-bg);/*var(--main-bg-color);*/
  --input-placeholder-font-color: var(--main-second-bg-color); /*brighter than normal font color and darker than background color*/
  --input-disabled-bg-color: none;
  --input-disabled-font-color: var(--main-font-color);


  --radio-bg-color: var(--main-font-color);
  --radio-disabled-bg-color: var(--main-sepArea-bg);
  --radio-bg-color-hover: var(--general-hover-color);
  --radio-disabled-bg-color-hover: var(--general-warning-color);

  --range-bg-color: rgb(97,100,107);
  --range-track-color: rgb(127,130,137);
  --range-lower-color: var(--general-active-color);
  --range-upper-color: var(--main-font-color);
  --range-slider-thumb-color: rgb(217,220,227);
  --range-slider-thumb-border-color: rgb(32, 36, 43);
  --range-slider-thumb-color-hover: rgb(225,192,141);


  /***** Tab Row ******/
  --tabrow-bg-color: var(--main-sepArea-bg);
  --tabrow-font-color: var(--main-font-color);
  --tabrow-active-color: var(--general-active-color);
  --tabrow-active-font-color: white;


  /**************************************
  **** Menue
  ***************************************/
  --menue-bg-color: rgb(12, 16, 23);/*rgb(45, 45, 45);*/
  --menue-navi-bg-color: rgba(32, 36, 43,0.95);
  --menue-font-color: var(--main-font-color);/*rgb(157,163,178);*/
  --menue-label-color:  rgb(197,203,218);
  --menue-warning-font-color: var(--general-warning-color);/*tomato;*/
  --menue-bg-color-hover: rgba(157,163,178,0.5);
  --menue-font-activ-color: var(--main-font-color);/*rgb(157,163,178);*/
  --menue-font-notActiv-color: var(--main-font-notactive-color);
  --menue-barLabel-bg-color: rgba(157,163,178,0.1);
  --menue-navi-negative-color: var(--general-warning-color);/*tomato;*/
  --menue-navi-positive-color: var(--general-active-color);/*rgb(86,182,194);*/



  --main-popUpWindow-bg-color: rgba(255, 255, 255,0.3); /*rgba(100,100,100,0.9)*/
  --main-popUpWindow-labelbg-color: var(--menue-bg-color); /*rgba(100,100,100,0.9)*/




}
