
button:focus {outline:0;}


.class_coloredButton{
  font-family: var(--font-family-button);
  height: var(--button-height);
  line-height: var(--button-height);
  font-size: var(--button-font-size);
  background-color: var(--main-coloredButton); /* Green */
  font-weight:bold;
  color: var(--main-coloredFont);
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  border:none;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  margin:0px;
}

.class_coloredButton:hover{
  transform: scale(0.95);
  background-color: var(--main-hover-coloredButton);
}

.class_coloredButton p{
  font-family: var(--font-family-button);
  font-family: var(--font-family-button);
  height: var(--button-height);
  line-height: var(--button-height);
  font-size: var(--button-font-size);
  text-align: center;
  text-decoration: none;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.class_coloredButton:hover p{
  transform: scale(0.95);
}



.class_coloredButton_Dark{
  font-family: var(--font-family-button);
  height: var(--button-height);
  line-height: var(--button-height);
  font-size: var(--button-font-size);
  background-color: var(--main-coloredButton_Dark);
  box-sizing: content-box;
  font-weight:bold;
  border: none;
  color: var(--main-sepArea-bg);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  text-align:center;
  overflow: auto;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.class_coloredButton_Dark:hover{
  transform: scale(0.95);
  background-color: var(--main-hover-coloredButton_Dark);
}


.class_EditPage_EditButton{
  margin-top: auto;
  margin-bottom: auto;
  width: 3.5vh;
  height: 3.5vh;
  max-width: 3.5vh;
  max-height: 3.5vh;
  font-size: 2.0vh;
  line-height: 3.5vh;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
  font-family: var(--font-family-button);
  box-sizing: content-box;
  font-weight:bold;
  border: none;
  background-color: var(--main-second-sepArea-bg);
  color: var(--main-sepArea-font-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  text-align:center;
  overflow: auto;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.class_EditPage_EditButton:hover{
  transform: scale(0.95);
  background-color: var(--main-hover-coloredButton_Dark);
  color: var(--main-sepArea-bg);
}


.class_coloredButton_Deactivated{
  font-family: var(--font-family-button);
  height: var(--button-height);
  line-height: var(--button-height);
  font-size: var(--button-font-size);
  background-color: var(--main-coloredButton); /* Green */
  font-weight:bold;
  color: var(--main-coloredFont-deactivated);
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  border:none;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: not-allowed;
  margin:0px;
}

.class_coloredButton_Deactivated:hover{
  transform: scale(0.95);
  background-color: var(--main-hover-coloredButton-deactivated);
}

.class_naviButton_Deactive{
  height:10vh;
  width:15vw;
  margin:auto;
  cursor:not-allowed;
  color:var(--main-sepArea-font-color);
  background-color: var(--main-second-sepArea-bg);
  font-family: var(--font-family-button);
  font-size: var(--button-font-size);
  font-weight:bold;
  text-align: center;
  text-decoration: none;
  /*vertical-align: middle;*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.class_naviButton_Current{
  height:10vh;
  width:15vw;
  margin:auto;
  cursor:not-allowed;
  color:var(--main-sepArea-font-color);
  background-color: rgb(102, 102, 255);
  font-family: var(--font-family-button);
  font-size: var(--button-font-size);
  font-weight:bold;
  text-align: center;
  text-decoration: none;
  /*vertical-align: middle;*/
  overflow: hidden;
  text-overflow: ellipsis;
}


.class_naviButton{
  height:10vh;
  width:15vw;
  margin:auto;
  font-family: var(--font-family-button);
  font-size: var(--button-font-size);
  background-color: var(--main-coloredButton); /* Green */
  font-weight:bold;
  color: var(--main-coloredFont);
  text-align: center;
  text-decoration: none;
  border:none;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.class_naviButton:hover{
  transform: scale(0.95);
  background-color: var(--main-hover-coloredButton);
}
