
button:focus {outline:0;}


.class_coloredButton{
  font-family: var(--font-family);
  background-color: var(--main-coloredButton); /* Green */
  font-weight:bold;
  color: var(--main-coloredFont);
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  border:none;
  height: var(--button-height);
  line-height: var(--button-height);
  font-size: var(--button-font-size);
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  margin:0px;
}

.class_coloredButton:hover{
  transform: scale(0.95);
  background-color: var(--main-hover-coloredButton);
}

.class_coloredButton p{
  text-align: center;
  text-decoration: none;
  height: var(--button-height);
  line-height: var(--button-height);
  font-size: var(--button-font-size);
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.class_coloredButton:hover p{
  transform: scale(0.95);
}



.class_coloredButton_Dark{
  font-family: var(--font-family);
  background-color: var(--main-coloredButton_Dark);
  box-sizing: content-box;
  font-weight:bold;
  border: none;
  color: var(--main-sepArea-bg);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: var(--button-height);
  line-height: var(--button-height);
  font-size: var(--button-font-size);
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  text-align:center;
  overflow: auto;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.class_coloredButton_Dark:hover{
  transform: scale(0.95);
  background-color: var(--main-hover-coloredButton);
}







.class_Test_ShowTestButton{
  width:auto;
  cursor:pointer;
  vertical-align: middle;
  text-align:center;
  height: 4vh;
  line-height: 4vh;

  font-size: 2.5vh;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  box-sizing: border-box;

  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

  color: var(--main-Button-sepArea-font-color);
  /*text-shadow: 0 0 1vh rgba(175,255,255, 0.5);*/
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;


}

.class_Test_ShowTestButton:hover{
  transform: scale(0.9);
  color: var(--main-Button-sepArea-font-hover);
  /*text-shadow: 0 0 1vh rgba(10, 239, 251, 0.5);*/
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}



.class_coloredButton_Deactivated{
  font-family: var(--font-family);
  background-color: var(--main-coloredButton); /* Green */
  font-weight:bold;
  color: var(--main-coloredFont-deactivated);
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  border:none;
  height: var(--button-height);
  line-height: var(--button-height);
  font-size: var(--button-font-size);
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: not-allowed;
  margin:0px;
}

.class_coloredButton_Deactivated:hover{
  transform: scale(0.95);
  background-color: var(--main-hover-coloredButton-deactivated);
}
