
select{
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  background: var(--input-bg-color);
  color: var(--input-font-color);
  border-width: : 0.2vh;
  border-style: solid;
  border-color: var(--input-font-color);
  min-width: 10vw;
  max-width: 10vw;
  padding-left: 0.5vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

optgroup{
  width: 100%;
  text-align: center;
  color: var(--main-sepArea-font-color);
  background: var(--main-second-sepArea-bg);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  padding-left: 1vw;
  padding-right: 1vw;
}

 option{
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  background: var(--input-bg-color);
  color: var(--input-font-color);
  padding-left: 1vw;
  padding-right: 1vw;
}

option:hover {
  background: var(--general-hover-color);
  outline:0;
}

option:focus {
  outline:0; /* */
  background: var(--general-active-color);
}

option::selection {
  outline:0; /* */
  background: var(--general-active-color);
}

option:disabled{
  color: var(--input-disabled-font-color);
  background: var(--input-disabled-bg-color);
  cursor: not-allowed;
}
