
select{
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  background: var(--input-bg-color);
  color: var(--input-font-color);
  border-width: : 0.2vh;
  border-style: solid;
  border-color: var(--input-font-color);
  min-width: 10vw;
  max-width: 10vw;
  padding-left: 0.5vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

select option{
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  background: var(--input-bg-color);
  color: var(--input-font-color);
}

select option:hover {
  background: red;/*var(--general-hover-color);*/
  outline:0;
}

select option:focus {
  outline:0; /* */
  background: var(--general-active-color);
}

select option::selection {
  outline:0; /* */
  background: var(--general-active-color);
}

select option:disabled{
  color: var(--input-disabled-font-color);
  background: var(--input-disabled-bg-color);
  cursor: not-allowed;
}


select optgroup{
  color: var(--input-font-color);
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  font-weight: bold;
  text-decoration: underline;
  line-height: var(--line-height-normal);
  background: none;
}

select optgroup option{
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  background: var(--input-bg-color);
  color: var(--input-font-color);
}

select optgroup option:hover {
  background: var(--general-hover-color);
  outline:0;
}

select optgroup option:focus {
  outline:0; /* */
  background: var(--general-active-color);
}

select optgroup option::selection {
  outline:0; /* */
  background: var(--general-active-color);
}

select optgroup option:disabled{
  color: var(--input-disabled-font-color);
  background: var(--input-disabled-bg-color);
  cursor: not-allowed;
}
