.class_tablelabel{
    /*height:1.5vh;*/
    font-family: var(--font-family-text);
    font-size: var(--font-size-normal);
    height:var(--line-height-normal);
    max-height:var(--line-height-normal);
    line-height: var(--line-height-normal);
    font-weight: bold;
    background: var(--main-sepArea-bg);
    color: var(--main-label-font-color);
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
}

.class_tablelabel p{
    font-family: var(--font-family-text);
    color: var(--main-label-font-color);
    text-align: center;
}

.class_tableInput{
    font-family: var(--font-family-text);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-normal);
    height:var(--line-height-normal);
    max-height:var(--line-height-normal);
    line-height: var(--line-height-normal);
    color: var(--main-table-font-color);
    background:var(--main-table-bg1-color);
    border: 0.1vh solid var(--main-table-border-color);
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.class_tableInputDark{
    font-family: var(--font-family-text);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-normal);
    height:var(--line-height-normal);
    max-height:var(--line-height-normal);
    line-height: var(--line-height-normal);
    color: var(--main-table-font-color);
    background: var(--main-table-bg2-color);
    border: 0.1vh solid var(--main-table-border-color);
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
