
.class_EditDropDownMenueSection{
  width:100%;
  text-align: center;
  vertical-align: middle;
  font-size: 3vh;
  font-weight:bold;
  background: var(--main-menue-section);
  color: var(--main-menue-font);
  line-height: 5vh;
  border-bottom: 0.2vh solid var(--main-coloredFont);
  border-top: 0.2vh solid var(--main-coloredFont);
  overflow: hidden;
  text-overflow: ellipsis;
}

.class_EditDropDownMenueButton{
  font-family: var(--font-family);
  background: none;
  border: none;
  color: var(--main-coloredFont);
  text-align: left;
  padding-left: 1vw;
  text-decoration: none;
  font-size: 3vh;
  line-height: 5vh;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.class_EditDropDownMenueButton:hover{
  background: var(--main-hover-coloredButton);
}
W
.class_EditPage_SelectPredefinedCMS{
  -moz-box-shadow:    inset 0 0 0.5vh rgb(0,0,0);
   -webkit-box-shadow: inset 0 0 0.5vh rgb(0,0,0);
   box-shadow:         inset 0 0 0.5vh rgb(0,0,0);
}


.class_EditPage_SelectPredefinedCMS:hover{
  -moz-box-shadow:    inset 0 0 0.5vh rgb(255,255,255);
   -webkit-box-shadow: inset 0 0 0.5vh rgb(255,255,255);
   box-shadow:         inset 0 0 0.5vh rgb(255,255,255);
}

.class_predefinedConstBands{
    box-sizing: border-box;
    cursor: grabbing;
    width:3vh;
    height:3vh;
    min-width:3vh;
    min-height:3vh;
    line-height:3vh;
    margin-right: 0.25vh;
    margin-left: 0.25vh;
    margin-top: 0.25vh;
    margin-bottom: 0.25vh;
    border-radius: 0.5vh;
    color: black;
    border: 0.2vh solid black;
    float:left;
    display: inline-block;
    white-space: nowrap;
    transition: transform ease-in 0.1s;
    overflow: hidden;
}

.class_predefinedConstBands:hover{
  transform: scale(0.9);
}

.class_predefinedLinearCMSBands{
    box-sizing: content-box;
    border: 0.2vh solid black;
    width: 90%;
    height:3vh;
    margin-top: 0.25vh;
    margin-left: 5%;
    border-radius: 0.5vh;
    overflow: hidden;
    cursor: grabbing;
    transition: transform ease-in 0.1s;

}

.class_predefinedLinearCMSBands:hover{
  transform: scale(0.9);
}


.class_ColormapCanvas{
  image-rendering: optimizeSpeed;             /* Older versions of FF*/
  image-rendering: -moz-crisp-edges;          /* FF 6.0+*/
  image-rendering: -webkit-optimize-contrast; /* Webkit (non standard naming)*/
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+)*/
  image-rendering: pixelated;               /* Possible future browsers.*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non standard naming)*/
}





.dropdownButtonEditPage{
  display: flex;
  /*width:250px;*/
  font-size: 1.6vh;
  line-height: 2.5vh;
  cursor:pointer;
  color:var(--main-sepArea-font-color);
  vertical-align: middle;
  text-align: left;
  padding: 0.2vh;

  /*font-family:courier;*/
  font-weight: bold;
}


.class_Analysis_Colormaps{
  height:100%;
  border: 1px solid black;
  background:grey;
}

#id_EditPage_CMS_VIS_Histogramm,
#id_EditPage_Canvas_GlobalLocalOrder,
#id_PopUp_FullAnalayzeCanvas{
  image-rendering: optimizeSpeed;             /* Older versions of FF*/
  image-rendering: -moz-crisp-edges;          /* FF 6.0+*/
  image-rendering: -webkit-optimize-contrast; /* Webkit (non standard naming)*/
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+)*/
  image-rendering: pixelated;               /* Possible future browsers.*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non standard naming)*/
}
