




.class_MyDesignObjCMSDiv{
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top:1.5vh;
  margin-bottom:1.5vh;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}



.class_MyDesignObjCMSDiv:hover{
  /*transform: scale(1.05);*/
  box-shadow: 0.2vw 0.2vh 1vh var(--main-font-color);
}


.class_MyDesignObjCMSCanvas{
  width: 100%;
  height: 4vh;
  margin:0;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor:pointer;
  display: block;
  border: 0.2vh solid var(--menue-bg-color);
  line-height: 4vh;
  font-size: 2vh;
  text-align: left;
  vertical-align: middle;
  background: var(--main-sepArea-bg);
  /*font-family:courier;*/
}


.class_MyDesignObjButton{
  width: 5%;
  height: 4vh;
  line-height: 4vh;
  font-size: 2vh;
  color: var(--cms-obj-font-color);
  background:none;
  text-align:center;
  cursor:pointer;
  margin:0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  vertical-align: middle;
  /*font-family:courier;*/
}

.class_MyDesignObjButton:hover{
  font-size: 2.5vh;
  background: var(--general-bg-hover-color);
}


.class_MyDesigns_CMS_Selector{
  display: block;
  width: 95%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  display: block;
  margin:auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  box-sizing: border-box;
  cursor: pointer;
}

.class_MyDesigns_CMS_Selector:hover{
  box-shadow: 0.2vw 0.2vh 1vh grey;
}



#id_MyDesings_Example_Img{

  max-width: 100%;
  max-height:100%;
}

/*#id_MyDesings_Example_Img:hover{
  width:100%;
}*/
