.class_GallerySectionButton{

  width: 100%;/*10%;*/
  margin: auto;
  box-sizing: border-box;
  font-family: var(--font-family-button);
  line-height: var(--button-height);
  font-size: var(--button-font-size);
  display: flex;
  flex-direction: column;
  background: var(--main-sepArea-bg);

}

.class_GallerySectionButton:focus {outline:0;}

.class_GallerySectionButton p{
  text-align: center;
  font-family: var(--font-family-button);
  font-size: 1.5vh;
  color: var(--main-sepArea-font-color);
  margin: auto;
  /*font-weight: bold;*/
}

.class_GallerySectionButton canvas{
  width:90%;
  margin-left: 5%;
  border: 0.2vh solid grey;
  box-sizing: border-box;
  margin-bottom:0.5vh;
  min-height:4vh;
  max-height:4vh;
  border-radius: 0.3vh;
}


/* 88vw witdh */



.class_GalleryCMSDIV{
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top:1.5vh;
  margin-bottom:1.5vh;
}


.class_GalleryObjCMSCanvas{
  width: 100%;
  height: 6vh;
  margin:0;
  border: 0.2vh solid var(--main-border);
  background: var(--main-sepArea-bg);
  display: block;
  /*font-family:courier;*/
}


.class_GalleryObjCMSLabel{
  width: 100%;
  height: 4vh;
  background: var(--main-sepArea-bg);
  border: 0.2vh solid var(--main-border);
  border-bottom:none;
  margin:0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 4vh;
  font-size: 2vh;
  text-align: left;
  color: var(--cms-obj-font-color);
  vertical-align: middle;
  /*font-family:courier;*/
}


.class_GalleryObjButton{
  width: 5%;
  height: 4vh;
  line-height: 4vh;
  font-size: 2vh;
  color: var(--cms-obj-font-color);
  text-align:center;
  cursor:pointer;
  margin:0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  vertical-align: middle;
  background: none;
  /*font-family:courier;*/
}

.class_GalleryObjButton:hover{
  font-size: 2.5vh;
  background: var(--general-bg-hover-color);
}
